<script type="text/javascript">
    $(function () {
        var orderType='@ViewData["orderType"]';
        var orderId='@ViewData["order_id"]';
        var url='@Url.Content("~/Saler/CheckOrderDetail")'+'?id=@ViewData["order_id"]'+'&billType='+orderType;
        $("#agency_div").layout("panel","center").panel({
                href:url,
                onLoad:function(){
                    //加载完之后将生产部门赋值给运作中心的生产部门
                    if($("#new_dep")){                        
                        $("#new_dep").combobox("setValue",$("#proc_dep_id").val());
                    }
                }
        });       
        getAuditResult();

        //SO流程运作中心郭玲敏可以修改生产部门
        if(orderType=='SO' && '@ViewData["step_name"]' == '运作中心审核'){
            $("#agency_comment").css("width","350px");
            $("#agency_comment").after(" 生产部门: <input id='new_dep' name='new_dep' style='width: 100px' />");
            $("#new_dep").combobox({
                url:'@Url.Content("~/Items/getProcDeps")',
                valueField:"id",
                textField:"name",
                panelHeight:"auto",
                editable:false
            });
        }

    });    
    
    function okClick(){        
        $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_pass")?', function(r){
	        if (r){
                $('#okFlag').val('true');
                submitForm();
	        }
        });     
           
    }
    function noClick(){
        $('#okFlag').val('false');
        var orderType='@ViewData["orderType"]';
        if((orderType=='TH' && parseInt('@ViewData["step"]')>1) || (orderType=='SO' && '@ViewData["step_name"]' == '事业部接单')){
            //可以退回下单者或者上一审批人
            $("#dlg_No").dialog("open");
        }else{
            $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_reject")?', function(r){
	            if (r){
                    submitForm();
                }
            });    
        }    
    }

    function NoToSalerClick(){
        $("#backToPrevious").val("0");
        $("#dlg_No").dialog("close");
        submitForm();
    }

    function NoToPreviousClick(){
        $("#backToPrevious").val("1");
        $("#dlg_No").dialog("close");
        submitForm();
    }

    function block(){
        var reason=$("#agency_comment").val();
        if($.trim(reason)==""){
            $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "挂起操作必须写明原因，提交失败"
                });   
        }else{
             $.messager.confirm('@Html.Lang("confirm")', '确定要将订单挂起吗?', function(r){
	         if (r){
                 $.messager.progress();
                 $("#audit_fm").form("submit",{
                    url:'@Url.Content("~/Audit/BlockOrder")',
                    success:function(data){
                        $.messager.progress('close');
                        var result=eval("("+data+")"); 
                         if(result.success){
                            $.messager.show({
                                title: '@Html.Lang("tip")',
                                msg: result.msg + ",正在跳转..."
                            });
                            setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",1500);
                        }else{
                            $.messager.show({
                                title: '@Html.Lang("tip")',
                                msg: result.msg
                            });
                            setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",3000);
                        }
                    }
                });
            }
            });  
        }
    }

    function submitForm(){
        $.messager.progress();
        $("#audit_fm").form("submit",{
            url:'@Url.Content("~/Audit/HandleAgencyAudit")',
            success:function(data){
            $.messager.progress('close');
                var result=eval("("+data+")"); 
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: result.msg + ",正在跳转..."
                });                
                setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",1500);
                //getAuditResult();
            }
        });
    }

    //获取审批信息
    function getAuditResult(){
        $.post('@Url.Content("~/Audit/RefleshAuditResult")',
        {applyId:'@ViewData["applyId"]',step:'@ViewData["step"]'},
        function(data){
            if(data.success){
                $("#agency_comment").val(data.comment);
                $("#agency_comment").attr("readonly","readonly");
                $("#blockBt").hide();
                if(data.pass){
                    $("#NOBt").hide();
                    $("#OKBt").linkbutton({text:'@Html.Lang("audit_pass")',});
                    $('#OKBt').linkbutton('disable');
                }else{
                    $("#OKBt").hide();
                    $("#NOBt").linkbutton({text:'@Html.Lang("audit_reject")',});
                    $('#NOBt').linkbutton('disable');
                }
            }
        });
    }
</script>
<div class="easyui-layout" data-options="fit:true" id="agency_div">    
    <div data-options="region:'south',collapsed:false" style="height: 50px; background: #fafafa;
        padding: 8px 10px;">
        <form id="audit_fm" method="post" action="">
        @Html.Lang("audit_opinion"):
        <input type="hidden" name="step" value="@ViewData["step"]" />
        <input type="hidden" name="applyId" value="@ViewData["applyId"]" />
        <input type="hidden" name="okFlag" id="okFlag" value="" />
        <input type="hidden" name="backToPrevious" id="backToPrevious" value="0" />
        <input id="agency_comment" name="agency_comment" style="width: 500px" />&nbsp; 
        <a id="OKBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="okClick()">@Html.Lang("pass")</a> 
        <a id="NOBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="noClick()">@Html.Lang("reject")</a>
        <a id="blockBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-help'" onclick="block()">挂起</a>
        </form>
    </div>
    <div data-options="region:'center'">
    </div>
</div>
<div id="dlg_No" class="easyui-dialog" style="width: 340px; height: 80px; padding: 10px 5px;" closed="true" title="确认拒绝方式">
    <a id="NoToSaler" href="#agency_div" class="easyui-linkbutton"
                data-options="iconCls:'icon-no'" onclick="NoToSalerClick()">拒绝到申请人</a>
        <a id="NoToPrevious" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-undo'"
            onclick="NoToPreviousClick()">拒绝到上一步审核人</a>
</div>