@using Sale_Order_Semi.Models;
@{
    SampleBill sb = (SampleBill)ViewData["sb"];
}
<script type="text/javascript">

    $(function () {
        $("#order_div input[type='text']").attr("readonly", "readonly");
        $("#order_div textarea").attr("readonly", "readonly");
    });

</script>
<div class="easyui-layout" data-options="fit:true">
    @*订单内容*@
    <div data-options="region:'center'">
        <div id="order_div" class="easyui-panel" title="查看样品单" style="width: 840px; padding: 10px;
            background: #fafafa; +position: relative;">
            <div>
                @*表头*@
                <table border="0" cellpadding="0" cellspacing="3px" width="800px">
                    @if (!string.IsNullOrWhiteSpace(sb.bill_no))
                    {
                        <tr>
                            <td>
                                单据编号:
                            </td>
                            <td>
                                <input type="text" style="width:120px" value="@sb.bill_no"/>
                            </td>
                            @for (var i = 0; i < 6; i++)
                            { 
                                <td>
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <td>
                            下单日期:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@(((DateTime)sb.bill_date).ToString("yyyy-MM-dd"))"/>
                        </td>
                        <td>
                            是否收费:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.is_free"/>
                        </td>
                        <td>
                            对应项目组:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.project_team" />
                        </td>
                        <td>
                            系统流水号:
                        </td>
                        <td>
                            <input type='text' style="width:120px" value="@sb.sys_no"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            结算方式:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.clear_way" />
                        </td>
                        <td>
                            贸易类型:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.trade_type_name" />
                        </td>
                        <td>
                            交货地点:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.fetch_add_name" />
                        </td>
                        <td>
                            销售方式:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.sale_type_name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            办事处:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.agency_name" />
                        </td>
                        <td>
                            业务员:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.clerk_name" />
                        </td>
                        <td>
                            币别:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.currency_name" />
                        </td>
                        <td>
                            汇率:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.exchange_rate" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            产品类别:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.product_type" />
                        </td>
                        <td>
                            产品型号:
                        </td>
                        <td colspan="3">
                            <input type='text' style="width: 300px" value="@sb.product_model" />
                        </td>
                        <td>
                            要求完成日期:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@(((DateTime)sb.demand_finish_date).ToString("yyyy-MM-dd"))" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            购货单位:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.customer_name" />
                        </td>
                        <td>
                            方案公司:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.plan_firm_name" />
                        </td>
                        <td>
                            海外客户:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.sea_customer_name" />
                        </td>
                        <td>
                            终端客户:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.zz_customer_name" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            是否共用现有产品:
                            <input type='text' style="width: 70px" value="@sb.use_existed_product" />
                        </td>
                        <td>
                            原开模客户:
                        </td>
                        <td>
                            <input type='text'  style="width: 120px" value="@sb.original_model_customer" />
                        </td>
                        <td>
                            图纸编号:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.pic_number" />
                        </td>
                        <td>
                            图纸版本:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.pic_version" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            报价员:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.quotation_clerk_name" />
                        </td>
                        <td>
                            报价编号:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.quote_num" />
                        </td>
                        <td>
                            样品数量:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.sample_qty" />
                        </td>
                        <td>
                            样品用途:
                        </td>
                        <td colspan="3">
                            <input type='text' style="width: 120px" value="@sb.sample_use" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            成本:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.cost" />
                        </td>
                        <td>
                            成交价:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.deal_price" />
                        </td>
                        <td>
                            合同价:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.contract_price" />
                        </td>
                        <td>
                            @Html.Lang("contract_num"):
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.contract_po_no" />
                        </td>
                    </tr>
                    <tr>                        
                        <td>
                            制单人:
                        </td>
                        <td>
                            <input type='text' style="width: 120px" value="@sb.User.real_name" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            是否为特殊样品单:
                            <input type='text' style="width: 80px" value="@sb.is_special_sample" />
                            免费样品特别需求编号:
                            <input type='text' style="width: 150px" value="@sb.oa_special_request_no" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            是否超出规定数量:
                            <input type='text' style="width: 80px" value="@sb.is_overtop_qty" />
                            超出规定数量原因:
                            <input type='text' style="width: 440px" value="@sb.overtop_qty_reason" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            第
                            <input type='text' style="width: 50px" value="@sb.how_many_time"/>
                            次下此客户/此型号的样品单 重复下样品单的原因:
                            <input type='text' style="width: 431px" value="@sb.repeat_sample_reason" />
                            <br />
                            <span style="font-size: small; color: Red">(填“2”要写原因；同时，相同客户/没有改动的相同样品下单不可超过2次)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            玻璃是否重投:
                            <input type='text' style="width: 80" value="@sb.is_glass_remake" />
                            收取重投费用:
                            <input type='text' style="width: 120px" value="@sb.glass_remake_fee"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            是否用于新客户机型:
                            <input type='text' style="width: 120px" value="@sb.for_new_project"/>
                            <span style="color:Red">(此项选择“是”、“共用现有产品”项选择“是”或是标准品时，请继续填写以下)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <table>
                                <tr>
                                    <td>
                                        1. 新客户机型名称:
                                    </td>
                                    <td>
                                        <input type='text' style="width: 100px" value="@sb.new_project_name"/>
                                    </td>
                                    <td>
                                        2. 新客户机型预计订单量:
                                    </td>
                                    <td>
                                        <input type='text' style="width: 80px" value="@sb.new_project_order_qty"/>
                                    </td>
                                    <td>
                                        3. 新客户机型的订单计划:
                                    </td>
                                    <td>
                                        <input type='text' style="width: 150px" value="@sb.new_project_order_plan"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            产品行业分类:
                            <input type='text' style="width: 160px" value="@sb.product_classification"/>
                            具体产品用途:
                            <input type='text' style="width: 340px" value="@sb.product_use"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            带摄像功能:
                        </td>
                        <td colspan="7">
                            <input type='text' style="width: 240px" value="@sb.has_video_function"/>
                            @if ("带摄像功能，摄像头由TRULY提供".Equals(sb.has_video_function))
                            {
                                <span id="has_video_function_model_span">
                                    @Html.Lang("model"):<input type='text' style="width: 300px" value="@sb.video_model"/>
                                </span>
                            }
                            @if ("带摄像功能，摄像头不是TRULY提供".Equals(sb.has_video_function))
                            {
                                <span id="has_video_function_reason_span">
                                    @Html.Lang("reason"):<input type='text' style="width: 300px" value="@sb.video_reason"/>
                                </span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            带触摸屏:
                        </td>
                        <td colspan="7">
                            <input type='text' style="width: 240px" value="@sb.has_touch_panel"/>
                            @if ("带触摸屏，触摸屏由TRULY提供".Equals(sb.has_touch_panel))
                            {
                                <span id="has_touch_panel_model_span">
                                    @Html.Lang("model"):<input type='text' style="width: 300px" value="@sb.touch_panel_model"/>
                                </span>
                            }
                            @if ("带触摸屏，触摸屏不是TRULY提供".Equals(sb.has_touch_panel))
                            {
                                <span id="has_touch_panel_reason_span">
                                    @Html.Lang("reason"):<input type='text' style="width: 300px" value="@sb.touch_panel_reason"/>
                                </span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            备注:
                        </td>
                        <td colspan="7">
                            <textarea cols="84" rows="2" style="margin: 0;">@sb.user_comment</textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tip_div" class="easyui-panel" title="注意事项" style="width: 800px; padding: 10px 20px;
                background: #fafafa;">
                1. 推荐给新客户机型使用时，需填写“摄像功能”与“触摸屏”的栏。<br />
                2. 请注明此处追加的样品是跟之前送给客户的哪一次样品来做。
            </div>
        </div>
    </div>
    @*挂起信息*@
    @Html.Partial("_BlockInfoPartial")
</div>
