@using Sale_Order_Semi.Models;
@{
    Sale_BL bl = (Sale_BL)ViewData["BL"];
}

<script type="text/javascript">

    $(function () {
        $("#order_div input[type='text']").attr("readonly", "readonly");
        $("#order_div textarea").attr("readonly", "readonly");
        $.map("@bl.bl_project".split(","), function (item) { $("input[name='bl_project'][value='" + item + "']").attr("checked", true); });
        $("#order_div input[type='checkbox']").not(":checked").attr("disabled", "disabled");
        $("#order_div input[type='checkbox']:checked").click(function () { event.preventDefault(); });
        $("#dg_detail").datagrid({
            width: 1400,
            loadMsg: "加载中...",
            rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                { field: 'levels', title: '层级', width: 60, align: 'center', hidden: true },
                {
                    field: 'fnumber', title: '物料编码', width: 150, align: 'center', formatter: function (value, row, index) {
                        //营业员不能查看物料编码
                        if ("@ViewData["hiddenModel"]" == "true") {
                            return "****************";
                        } else {
                            return value;
                        }
                    }
                },
                {
                    field: 'fmodel', title: '物料型号', width: 260, formatter: function (value, row, index) {
                        //营业员不能查看物料型号
                        if ("@ViewData["hiddenModel"]" == "true") {
                            return "****************";
                        } else {
                            return value;
                        }
                    }
                },
                { field: 'fname', title: '物料名称', width: 100, align: 'center' },
                { field: 'unitname', title: '单位', width: 60, align: 'center' },
                { field: 'fqty', title: '单位用量', width: 80, align: 'center' },
                { field: 'total_qty', title: '标准数量', width: 80, align: 'center' },
                { field: 'order_qty', title: '订料数量', width: 80, align: 'center' },
                { field: 'k3_qty', title: '关联K3数量', width: 80, align: 'center' },
                { field: 'highest_price', title: '最高采购价', width: 80, align: 'center' },
                { field: 'comment', title: '备注', width: 200 },
                { field: 'source', title: '来源', width: 80, align: 'center' },
                { field: 'order_name', title: '订料员', width: 80, align: 'center' },
            ]]
        });
    });

</script>
<div class="easyui-layout" data-options="fit:true">
    @*订单内容*@
    <div data-options="region:'center'">
        <div id="order_div" class="easyui-panel" title="查看备料单" style="width: 840px; padding: 10px;
    background: #fafafa;+position: relative;">
            <div>
                <table border="0" cellpadding="1" cellspacing="3" width="800">
                    <tr>
                        <td>
                            备料日期:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@(((DateTime)bl.bl_date).ToString("yyyy-MM-dd"))" />
                        </td>
                        <td>
                            系统流水号:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.sys_no" />
                        </td>
                        <td>
                            备料编号:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.bill_no" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            办事处:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.agency_name" />
                        </td>
                        <td>
                            备料类型:
                        </td>
                        <td>
                            @if (bl.bl_type == null || bl.bl_type == "") {
                                <span>
                                    <input type="radio" name="bl_type" value="市场预测" disabled /> 市场预测
                                    <input type="radio" name="bl_type" value="有合同协议" disabled /> 有合同协议 &nbsp;
                                </span>
                            }
                            else if (bl.bl_type == "有合同协议") {
                                <span>
                                    <input type="radio" name="bl_type" value="市场预测" disabled /> 市场预测
                                    <input type="radio" name="bl_type" value="有合同协议" checked /> 有合同协议 &nbsp;
                                </span>
                            }
                            else {
                                <span>
                                    <input type="radio" name="bl_type" value="市场预测" checked /> 市场预测
                                    <input type="radio" name="bl_type" value="有合同协议" disabled /> 有合同协议 &nbsp;
                                </span>
                            }
                        </td>
                        <td>
                            协议号:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.bl_contract_no" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            计划下订单日期:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@(bl.plan_order_date==null?"":((DateTime)bl.plan_order_date).ToString("yyyy-MM-dd"))" />
                        </td>
                        <td>
                            订单数量:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.qty" />
                        </td>
                        <td>
                            计划交货期:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@(bl.fetch_date == null ? "" : ((DateTime)bl.fetch_date).ToString("yyyy-MM-dd"))" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            客户代码:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.customer_no" />
                        </td>
                        <td>
                            客户名称:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.customer_name" />
                        </td>
                        <td>
                            贸易类型:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.trade_type_name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            产品代码:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.product_no" />
                        </td>
                        <td>
                            产品名称:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.product_name" />
                        </td>
                        <td>
                            产品型号:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.product_model" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            产品用途:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.product_use" />
                        </td>
                        <td>
                            产品类别:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.product_type" />
                        </td>
                        <td>
                            成交价(不含税):
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.deal_price" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            事业部:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.bus_dep" />
                        </td>
                        <td>
                            对应项目组:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.project_group" />
                        </td>
                        <td>
                            市场部:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.market_dep" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            营业员:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.clerk_name" />
                        </td>
                        <td>
                            计划员:
                        </td>
                        <td>
                            <input type="text" style="width: 140px" value="@bl.planner_name" />
                        </td>
                        <td>
                            制单人:
                        </td>
                        <td>
                            <input type="text" style="width:140px" value="@bl.User.real_name" />
                        </td>
                    </tr>
                    <tr>
                        <td>订料员:</td>
                        <td colspan="5">
                            <input type="text" style="width:381px" value="@bl.order_names" />
                        </td>
                    </tr>
                    <tr>
                        @*<td>
                            备料项目:
                        </td>*@
                        <td colspan="6">
                            <fieldset>
                                <legend>备料项目</legend>
                                <div>
                                    <input type="checkbox" name="bl_project" value="全套物料" /><span class="ck_label"> 全套物料</span> &nbsp;
                                </div>
                                <div>
                                    @{string[] p1 = new string[] { "IC", "背光", "玻璃", "TP", "Lens", "电容", "电阻", "二极管", "马达", "镜头", "FPC", "偏光片" };}
                                    @foreach (var p in p1) {
                                        <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                    }
                                </div>
                                <div>
                                    @{string[] p2 = new string[] { "连接器", "菲林", "大片玻璃基材", "基板", "POL", "芯片", "防反射膜", "前盖", "光学膜已切","ACF" };}
                                    @foreach (var p in p2) {
                                        <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                    }
                                </div>
                                <div>
                                    @{string[] p3 = new string[] { "PCB", "LC", "TJ", "JJ", "元件", "电感", "磁珠", "晶振三极管" };}
                                    @foreach (var p in p3) {
                                        <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                    }
                                </div>

                                <div>
                                    <input type="checkbox" name="bl_project" value="其它" /><span class="ck_label"> 其它</span> &nbsp;
                                    <input type="text" style="width:200px" name="bl_project_other" value="@bl.bl_project_other" />
                                </div>
                            </fieldset>
                        </td>
                    </tr>

                    <tr>
                        <td>摘要:</td>
                        <td colspan="5">
                            <textarea cols="92" rows="4" spellcheck="false" style="margin: 0;">@bl.comment</textarea>
                        </td>
                    </tr>
                </table>
                @if(bl.Sale_BL_details.Count()>0){
                <br />
                <div id="detail_div" class="easyui-panel" title="备料清单明细" style="+position: relative; width: 815px; height: 240px">
                    <table id="dg_detail">
                        @foreach (var det in bl.Sale_BL_details) {
                            <tr>
                                <td>@det.levels</td>
                                <td>@det.fnumber</td>
                                <td>@det.fmodel</td>
                                <td>@det.fname</td>
                                <td>@det.unitname</td>
                                <td>@(det.fqty == null ? "0" : String.Format("{0:0.####}",Math.Round((decimal)det.fqty, 4)))</td>
                                <td>@(det.total_qty == null ? "0" : String.Format("{0:0.####}",Math.Round((decimal)det.total_qty, 4)))</td>
                                <td>@(det.order_qty == null ? "0" : String.Format("{0:0.####}",Math.Round((decimal)det.order_qty, 4)))</td>
                                <td>@(det.k3_qty == null ? "0" : String.Format("{0:0.####}",Math.Round((decimal)det.k3_qty, 4)))</td>
                                <td>@(det.highest_price == null ? "0" : String.Format("{0:0.####}",Math.Round((decimal)det.highest_price, 4)))</td>
                                <td>@det.comment</td>
                                <td>@det.source</td>
                                <td>@det.order_name</td>
                            </tr>
                        }
                    </table>
                </div>
                }
            </div>
            <br />
            <div id="downloadPanel">
                <div class="easyui-panel" style="background: #fafafa; padding: 10px; width: 800px;" title="@Html.Lang("download_file")" href="@Url.Content("~/Items/downLoadFile?sys_no=" + bl.sys_no)">
                </div>
            </div>
            <div style="line-height:18px;margin-top:8px;">
                <div style="color:red">操作说明：</div>
                <div>
                    <1>
                        . 计划员能且仅能选择【订料员】，订料员可以选择多个，选择的订料员作为下一审批步骤进行会签。<br />
                        <2>
                            . 订料员必须录入【备料清单明细】，如果有多个订料员会签，每个订料员只能录入自己的备料明细，不能修改或删除其它订料员录入的备料明细。<br />
                            <3>
                                .营业员没有权限查看备料明细的【物料型号】，会以*号代替。<br />
                                <4>
                                    .【备料编号】是根据市场部提供的规则，并根据营业所选择的【市场部】字段在流程正常结束后系统生成的。<br />
                </div>
            </div>
        </div>
    </div>
    @*挂起信息*@
    @Html.Partial("_BlockInfoPartial")
</div>
