@using Sale_Order_Semi.Models;
@{
    Sale_BL bl = (Sale_BL)ViewData["BL"];
    var d = bl.Sale_BL_details;
    ViewData["sys_no"] = bl.sys_no;
    string stepName = (string)ViewData["stepName"] ?? "";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
<script type="text/javascript">
    var tpBoms;
    $(function () {
        $("#product_no").combogrid({
            valueField: "number",
            textField: "number",
            panelWidth: 420,
            required: true,
            columns: [[
                    { field: 'number', title: '@Html.Lang("pro_num")', width: 120 },
                    { field: 'name', title: '@Html.Lang("pro_name")', width: 120 },
                    { field: 'model', title: '@Html.Lang("pro_model")', width: 160 }
            ]],
            keyHandler: {
                query: function () { },
                enter: function () {
                    var q = $("#product_no").combogrid('getText');
                    if (q != "") {
                        $.post("@Url.Content("~/Items/getProductInfo")", { q: q },
                            function (data) {
                                $("#product_no").combogrid('grid').datagrid('loadData', data);
                                $("#product_no").combogrid('setText', q);
                            },
                            "json"
                            );
                    }
                }
            },
            onClickRow: function (rowIndex, rowData) {
                $("#product_no").combogrid('setValue', rowData.number);
                $("#product_no").combogrid('setText', rowData.number);
                $("#product_name").val(rowData.name);
                $("#product_model").val(rowData.model);
                $("#product_no").combogrid('hidePanel');
            }
        });

        $("#mat_no").combogrid({
            valueField: "number",
            textField: "number",
            panelWidth: 420,
            required: true,
            columns: [[
                    { field: 'number', title: '@Html.Lang("pro_num")', width: 120 },
                    { field: 'name', title: '@Html.Lang("pro_name")', width: 120 },
                    { field: 'model', title: '@Html.Lang("pro_model")', width: 160 }
            ]],
            keyHandler: {
                query: function () { },
                enter: function () {
                    var q = $("#mat_no").combogrid('getText');
                    if (q != "") {
                        $.post("@Url.Content("~/Items/getProductInfo")", { q: q },
                            function (data) {
                                $("#mat_no").combogrid('grid').datagrid('loadData', data);
                                $("#mat_no").combogrid('setText', q);
                            },
                            "json"
                            );
                    }
                }
            },
            onClickRow: function (rowIndex, rowData) {
                $("#mat_no").combogrid('setValue', rowData.number);
                $("#mat_no").combogrid('setText', rowData.number);
                $("#mat_name").val(rowData.name);
                $("#mat_model").val(rowData.model);
                $("#mat_unit_name").val(rowData.unit_name);
                $("#mat_no").combogrid('hidePanel');
            }
        });

        $("#clerk_no").combobox({
            valueField: "number",
            textField: "name",
            keyHandler: {
                query: function () { },
                enter: function () {
                    var box_id = $(this).attr("id");
                    var url = "@Url.Content("~/Items/getClerks")";
                    var q = $("#clerk_no").combobox('getText');
                    if (q != "") {
                        $.post(url, { q: q },
                        function (data) {
                            $("#clerk_no").combobox('loadData', data);
                            $("#clerk_no").combobox('setText', q);
                        },
                        "json"
                        );
                    }
                }
            }
        });

        $("#dg_detail").datagrid({
            width: 1200,
            height: 250,
            loadMsg: "加载中...",
            rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                { field: 'levels', title: '层级', width: 60, align: 'center', hidden: true },
                { field: 'fnumber', title: '物料编码', width: 150, align: 'center', hidden: true },
                { field: 'fmodel', title: '物料型号', width: 300 },
                { field: 'fname', title: '物料名称', width: 100, align: 'center' },
                { field: 'unitname', title: '单位', width: 60, align: 'center' },
                { field: 'fqty', title: '单位用量', width: 100, align: 'center' },
                { field: 'total_qty', title: '标准数量', width: 60, align: 'center' },
                { field: 'order_qty', title: '订料数量', width: 80, align: 'center', editor: { type: 'numberbox', options: { precision: 4,groupSeparator:"," } } },
                { field: 'highest_price', title: '最高采购价', width: 60, align: 'center', editor: { type: 'numberbox', options: { precision: 4, groupSeparator: "," } } },
                { field: 'comment', title: '备注', width: 200, editor: { type: 'validatebox', options: { validType: ['length[0,200]'] } } },
                { field: 'source', title: '来源', width: 80, align: 'center' },
                { field: 'order_name', title: '订料员', width: 80, align: 'center' },
                { field: 'order_id', title: '订料员ID', hidden: 'true' }
            ]],
            toolbar: [{
                text: "从BOM获取",
                iconCls: 'icon-search',
                handler: getBom
            }, '-', {
                text: "手工录入",
                iconCls: 'icon-edit',
                handler: function () {
                    $("#fm_detail").form("reset");
                    $("#dlg_details").dialog("open");
                }
            }, '-', {
                text: "删除行",
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#dg_detail').datagrid('getSelected');
                    if (row) {
                        if (row.order_id != "@ViewData["order_id"]") {
                            $.messager.show({
                                title: '@Html.Lang("tip")',
                                msg: "订料员只能删除自己新增的物料"
                            });
                            return;
                        }
                        $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("are_you_sure")?', function (r) {
                            if (r) {
                                var index = $('#dg_detail').datagrid('getRowIndex', row);
                                $('#dg_detail').datagrid('deleteRow', index);
                            }
                        });
                    }
                }
            }],
            onClickRow: onClickRow
        });

        $("#customer_no").combogrid({
            loadMsg: "Please wait...",
            idField: "number",
            textField: "number",
            panelWidth: 400,
            columns: [[
                    { field: 'number', title: '@Html.Lang("customer_num")', width: 150 },
                    { field: 'name', title: '@Html.Lang("customer_name")', width: 220 }
            ]],
            keyHandler: {
                query: function () { },
                enter: function () {
                    var box_id = $(this).attr("id");
                    var _this = "#" + box_id;
                    var q = $(_this).combogrid('getText');
                    if (q != "") {
                        $.post("@Url.Content("~/Items/getCostomers")", { q: q },
                            function (data) {
                                $(_this).combogrid('grid').datagrid('loadData', data);
                                $(_this).combogrid('setText', q);
                            },
                            "json"
                            );
                    }
                }
            },
            onClickRow: function (rowIndex, rowData) {
                $("#customer_no").combogrid('setValue', rowData.number);
                $("#customer_no").combogrid('setText', rowData.number);
                $("#customer_name").val(rowData.name);
                $("#customer_no").combogrid('hidePanel');
            }

        });

        $("#dg_bom").datagrid({
            title: "BOM清单",
            width: 1000,
            height: 395,
            loadMsg: "加载中...",
            rownumbers: true,
            singleSelect: false,
            fitColumns: true,
            columns: [[
                { checkbox: true },
                { field: 'levels', title: '层级', width: 60, align: 'center' },
                { field: 'fmodel', title: '物料型号', width: 350, align: 'center' },
                { field: 'fname', title: '物料名称', width: 150, align: 'center' },
                { field: 'fnumber', title: '物料编码', width: 150, align: 'center' },
                { field: 'unitname', title: '单位', width: 60, align: 'center' },
                { field: 'fqty', title: '单位用量', width: 100, align: 'center' },
                { field: 'code_s', title: '主替料', width: 60, align: 'center' },
                { field: 'perName', title: '自制/外购', width: 60, align: 'center' }
            ]],
            toolbar: "#toolbar_bom",
            onLoadSuccess: function (data) {
                $("#toolbar_bom .textbox-prompt").focus();
            }
        });

        //产品数量的变动会直接导致BOM中每个物料的数量变动
        $("#qty").numberbox({
            onChange: function (newValue, oldValue) {
                if (newValue != oldValue) {
                    var data = $("#dg_detail").datagrid("getData");

                    for (var i in data.rows) {
                        data.rows[i].total_qty = data.rows[i].fqty * newValue;
                    }
                    $("#dg_detail").datagrid("loadData", data);
                }
            }
        });

        if ("@bl.step_version" == "0") {
            $("#bus_dep").combobox({
                onChange: function (newValue, oldValue) {
                    if (newValue != oldValue) {
                        $.post("@Url.Content("~/Items/GetAuditorsWithStep")", { stepName: 'BL_事业部计划员', depName: newValue },
                                function (data) {
                                    var planerInBus = false;
                                    //如果是营业员编辑阶段，计划员不在此事业部的计划员列表中，则清空此计划员 2017-11-09                                    
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].auditorId == $('#planner_id').combobox("getValue")) {
                                            planerInBus = true;
                                            break;
                                        }
                                    }
                                    if (!planerInBus) {
                                        $('#planner_id').combobox("setValue", "");
                                        $('#planner_id').combobox("setText", "");
                                    }
                                    $('#planner_id').combobox("loadData", data);                                    
                                }, "json"
                            );
                    }
                }
            });

        }

            $("#customer_no").combogrid("setValue", "@bl.customer_no");
            $("#product_no").combogrid("setValue", "@bl.product_no");
            $("#clerk_no").combobox("setValue", "@bl.clerk_no");
            $("#clerk_no").combobox("setText", "@bl.clerk_name");
            @*$("#planner_id").combobox("setValue", "@bl.planner_id");
            $("#planner_id").combobox("setText", "@bl.planner_name");*@
            $("#bus_dep").combobox("setValue", "@bl.bus_dep");
            $.map("@bl.bl_project".split(","), function (item) { $("input[name='bl_project'][value='" + item + "']").attr("checked", true); });
            $("#agency_div").css("visibility", "visible").click(function () { endEditing(); });
            $(".ck_label").css("cursor", "pointer").click(function () { $("input[name='bl_project'][value='" + $.trim($(this).html()) + "']").trigger("click"); });
        });

        function getBom() {
            var busDep = $("#bus_dep").combobox("getValue");
            var productNumber = $("#product_no").combogrid("getValue");
            if (busDep == "") {
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "请先选择事业部"
                });
                return;
            }
            if (productNumber == "") {
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "请先选择产品编码"
                });
                return;
            }
            $.post("@Url.Content("~/Items/GetBom")", { busDep: busDep, productNumber: productNumber }, function (result) {
                if (result.length == 0) {
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: "此产品型号查不到BOM，请检查是否录入错误，或者手动录入备料项目"
                    });
                } else {
                    $("#win_bom").window('open');
                    tpBoms = result;
                    $("#dg_bom").datagrid("loadData", tpBoms);
                }

            });
        }

        function searchB(value) {
            var ds = [];
            for (var i in tpBoms) {
                if (tpBoms[i].fname.indexOf(value) >= 0 || tpBoms[i].fmodel.indexOf(value) >= 0) {
                    ds.push(tpBoms[i]);
                }
            }
            $("#dg_bom").datagrid("loadData", ds);
        }
        function confirmSel() {
            var dataS = $("#dg_bom").datagrid("getSelections");
            var qty = $("#qty").numberbox("getValue");
            var tx = "";
            if (dataS.length == 0) {
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "请先选择BOM物料"
                });
                return;
            }

            for (var i in dataS) {
                dataS[i].total_qty = (qty * dataS[i].fqty).toFixed(4);
                dataS[i].order_qty = (qty * dataS[i].fqty).toFixed(4);
                dataS[i].order_id = "@ViewData["order_id"]";
                dataS[i].order_name = "@ViewData["order_name"]";
                dataS[i].highest_price = $("#mat_highest_price").numberbox("getValue") == "" ? 0 : $("#mat_highest_price").numberbox("getValue"),
                $("#dg_detail").datagrid("appendRow", dataS[i]);
            }
            $("#win_bom").window('close');
        }

        function saveBomDetails() {
            if ($("#mat_model").val() == "") {
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "请先输入物料编码"
                });
                return;
            }
            $("#dg_detail").datagrid("appendRow", {
                levels: "-",
                fnumber: $("#mat_no").combogrid("getValue"),
                fmodel: $("#mat_model").val(),
                fname: $("#mat_name").val(),
                unitname: $("#mat_unit_name").val(),
                fqty: $("#mat_qty").numberbox("getValue"),
                total_qty: $("#mat_qty").numberbox("getValue") * $("#qty").numberbox("getValue"),
                order_qty: $("#mat_qty").numberbox("getValue") * $("#qty").numberbox("getValue"),
                highest_price: $("#mat_highest_price").numberbox("getValue") == "" ? 0 : $("#mat_highest_price").numberbox("getValue"),
                comment: $("#mat_comment").val(),
                source: "手工",
                order_id: "@ViewData["order_id"]",
                order_name: "@ViewData["order_name"]"
            });
            $("#dlg_details").dialog("close");
        }

        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($('#dg_detail').datagrid('validateRow', editIndex)) {
                $('#dg_detail').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        //点击行，如果是订料员自己的行，即可以编辑，否则不能编辑
        function onClickRow(index) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#dg_detail').datagrid('selectRow', index);
                    var row = $('#dg_detail').datagrid('getSelected');
                    if (row) {
                        if (row.order_id == "@ViewData["order_id"]") {
                            $('#dg_detail').datagrid('beginEdit', index);
                            editIndex = index;

                            var ed = $('#dg_detail').datagrid('getEditors', index);
                            var rowCount = $('#dg_detail').datagrid('getRows').length;
                            for (var i = 0; i < ed.length; i++) {
                                var e = ed[i];
                                if (e.field == "order_qty") {
                                    $(e.target).focus();
                                }
                                $(e.target).bind("keyup", function () {
                                    //下箭头，往下一行
                                    if (window.event.keyCode == 40) {
                                        if (index + 1 < rowCount);
                                        onClickRow(index + 1);
                                    }
                                    //上箭头，往上一行
                                    if (window.event.keyCode == 38) {
                                        if (index > 0);
                                        onClickRow(index - 1);
                                    }
                                });
                            }
                        }
                    }
                } else {
                    $('#dg_detail').datagrid('selectRow', editIndex);
                }
            }
        }
        //function onClickRow(index) {
        //    if (editIndex != index) {
        //        if (endEditing()) {
        //            $('#dg_detail').datagrid('selectRow', index)
        //                    .datagrid('beginEdit', index);
        //            editIndex = index;
        //        } else {
        //            $('#dg_detail').datagrid('selectRow', editIndex);
        //        }
        //    }
    //}
    function marketIsInTheList(value, list) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].value == value) {
                return true;
            }
        }
        return false;
    }
</script>

@if (bl.step_version == 0) {
    <script type="text/javascript">
    $(function () {
        //保存订单
        $('#saveAllBut').bind('click', function () {
            $.messager.progress();
            $('#order_form').form('submit', {
                url: '@Url.Content("~/Saler/SalerSaveBLBill")',
                onSubmit: function (param) {
                    if (!$('#order_form').form('validate')) {
                        return false;
                    }
                    var marketDatas = $("#market_dep").combobox("getData");
                    var marketValue = $("#market_dep").combobox("getValue");
                    if (!marketIsInTheList(marketValue, marketDatas)) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "市场部字段已更新，请在列表中重新选择"
                        });
                        return false;
                    }
                    //param.Sale_BL_details = JSON.stringify($("#dg_detail").datagrid("getRows"));
                    //param.planner_name = $("#planner_id").combobox("getText");
                    return true;
                },
                success: function (data) {
                    var result = eval('(' + data + ')');
                    if (result.suc) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("suc_save")"
                        });
                        if (result.msg) {
                            alert(result.msg);
                        }
                    } else {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("failure_save"):" + result.msg
                        });
                    }
                }
            });
            $.messager.progress("close");
        });

        //提交申请按钮
        $("#submitApply").click(function () {
            //首先检测订单是否已保存
            $("#submitApply").linkbutton('disable');
            $('#saveAllBut').linkbutton('disable');
            $.post("@Url.Content("~/Saler/CheckIsBillExist")", { sysNum: $("#sys_no").val() },
            function (data) {
                if (data.success) {
                    //判断合同编号是否已存在
                    $.post("@Url.Content("~/Saler/IsContractNoExists")",
                        { contractNo: $("#bl_contract_no").val(), sysNum: $("#sys_no").val(), billType: "BL" }, function (data) {
                            if (data.suc) {
                                beginApply();
                            } else {
                                $.messager.confirm('@Html.Lang("confirm")', data.msg, function (r) {
                                    if (r) {
                                        beginApply();
                                    }
                                });
                            }
                        });
                } else {
                    $("#submitApply").linkbutton('enable');
                    $('#saveAllBut').linkbutton('enable');
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                            msg: '提交之前请先保存订单'
                        });
                    }
                }, "json");
            });
        });

        function beginApply() {
            $.messager.show({
                title: '@Html.Lang("tip")',
                msg: "正在提交，请等待跳转。。。"
            });
            setTimeout('window.location.href="@Url.Content("~/Saler/BeginApplyBL?sys_no=")"+$("#sys_no").val();', 2000);
        }

    </script>   
    
}
else {
    <script type="text/javascript">
    $(function () {
        $.post("@Url.Content("~/Items/GetAuditorsWithStep")", { stepName: 'BL_事业部订料员', depName: "@bl.bus_dep" },
                function (data) {
                    $('#order_ids').combobox("loadData", data);
                    if ("@bl.order_ids" != "") {
                        $("#order_ids").combobox("setValues", "@bl.order_ids".split(","));
                        $("#order_ids").combobox("setText", "@bl.order_names");
                    }
                }, "json"
            );
        if ("@stepName" == "计划审批" || "@stepName" == "订料会签" || "@stepName" == "成控审核") {
            $("#order_form input").each(function () {
                var thisClass = $(this).attr("class");
                if (thisClass) {
                    if (thisClass.indexOf("combobox") >= 0) {
                        $(this).combobox("readonly");
                    }
                    if (thisClass.indexOf("combogrid") >= 0) {
                        $(this).combogrid("readonly");
                    }
                    if (thisClass.indexOf("easyui-datebox") >= 0) {
                        $(this).datebox("readonly");
                    }
                    if (thisClass.indexOf("easyui-numberbox") >= 0) {
                        $(this).attr("readonly", "readonly");
                    }
                    if (thisClass.indexOf("easyui-validatebox") >= 0) {
                        $(this).attr("readonly", "readonly");
                    }
                }
            });
            $("#order_form input[type='checkbox']").not(":checked").attr("disabled", "disabled");
            $("#order_form input[type='checkbox']:checked").click(function () { event.preventDefault(); });
            $("#order_form textarea").attr("readonly", "readonly");
            $("#order_form input[type='radio']").attr("disabled", "disabled");
            if ("@stepName" == "计划审批") {
                $("#order_ids").combobox("readonly", false);
                $("#planner_comment").attr("readonly", false);
            } else if ("@stepName" == "成控审核") {
                $("#deal_price").attr("readonly", false);
            }
        }
        });
        function okClick() {
            $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_pass")?', function (r) {
            if (r) {
                
                //判断合同编号是否已存在
                $.post("@Url.Content("~/Saler/IsContractNoExists")",
                    { contractNo: $("#bl_contract_no").val(), sysNum: $("#sys_no").val(), billType: "BL" }, function (data) {
                        if (data.suc) {
                            saveForm();
                            $.messager.progress();
                        } else {
                            $.messager.confirm('@Html.Lang("confirm")', data.msg, function (r) {
                                if (r) {
                                    saveForm();
                                    $.messager.progress();
                                }
                            });
                        }
                    });
            }
        });
    }
    function noClick() {
        $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_reject")?', function (r) {
            if (r) {
                $('#okFlag').val('false');
                beginAudit();
            }
        });
    }

        function saveForm() {
            $('#order_form').form('submit', {
                url: '@Url.Content("~/Audit/AuditorSaveBLBill")',
                onSubmit: function (param) {
                    param.step = "@bl.step_version";
                    if ($("#order_ids").length > 0) {
                        param.order_names = $("#order_ids").combobox("getText");
                    }
                    if ("@stepName".indexOf("订料") >= 0) {
                        param.Sale_BL_details = JSON.stringify($("#dg_detail").datagrid("getRows"));
                    }
                    var marketDatas = $("#market_dep").combobox("getData");
                    var marketValue = $("#market_dep").combobox("getValue");
                    if (!marketIsInTheList(marketValue, marketDatas)) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "市场部字段已更新，请在列表中重新选择"
                        });
                        $.messager.progress("close");
                        return false;
                    }
                    return true;
                },
                success: function (data) {
                    var result = eval('(' + data + ')');
                    if (result.suc) {
                        $('#okFlag').val('true');
                        beginAudit();
                    } else {
                        $.messager.progress("close");
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("failure_save"):" + result.msg
                        });
                }
            }
            });
        }

    function beginAudit() {
        $("#audit_fm").form("submit", {
            url: "@Url.Content("~/Audit/HandleAgencyAudit")",
            success: function (data) {
                $.messager.progress('close');
                var result = eval("(" + data + ")");
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: result.msg + ",正在跳转..."
                });
                setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';", 1500);
                //getAuditResult();
            }
        });
    }

    function block() {
        var reason = $("#agency_comment").val();
        if ($.trim(reason) == "") {
            $.messager.show({
                title: '@Html.Lang("tip")',
                msg: "挂起操作必须写明原因，提交失败"
            });
        } else {
            $.messager.confirm('@Html.Lang("confirm")', '确定要将订单挂起吗?', function (r) {
                if (r) {
                    $.messager.progress();
                    $("#audit_fm").form("submit", {
                        url: "@Url.Content("~/Audit/BlockOrder")",
                        success: function (data) {
                            $.messager.progress('close');
                            var result = eval("(" + data + ")");
                            if (result.success) {
                                $.messager.show({
                                    title: '@Html.Lang("tip")',
                                    msg: result.msg + ",正在跳转..."
                                });
                                setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';", 1500);
                            } else {
                                $.messager.show({
                                    title: '@Html.Lang("tip")',
                                    msg: result.msg
                                });
                                setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';", 3000);
                            }
                        }
                    });
                }
            });
        }
    }
    </script>
}

<div class="easyui-layout" data-options="fit:true" id="agency_div" style="visibility:hidden">
    @if (bl.step_version > 0) {
        @*挂起信息*@
        @Html.Partial("_BlockInfoPartial")
        <div data-options="region:'south',collapsed:false" style="height: 50px; background: #fafafa;
            padding: 8px 10px;">
            <form id="audit_fm" method="post" action="">
                @Html.Lang("audit_opinion"):
                <input type="hidden" name="step" value="@bl.step_version" />
                <input type="hidden" name="applyId" value="@ViewData["applyId"]" />
                <input type="hidden" name="okFlag" id="okFlag" value="" />
                <input id="agency_comment" name="agency_comment" style="width: 500px" />&nbsp;
                <a id="OKBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="okClick()">@Html.Lang("pass")</a>
                <a id="NOBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="noClick()">@Html.Lang("reject")</a>
                <a id="blockBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-help'" onclick="block()">挂起</a>
            </form>
        </div>
    }
    <div data-options="region:'center'">
        <form id="order_form" method="post">
            <div id="order_div" class="easyui-panel" title="新建备料单" style="width: 840px; padding: 10px; background: #fafafa;+position: relative;">
                <div>
                    <table border="0" cellpadding="1" cellspacing="3" width="800">
                        <tr>
                            <td>
                                备料日期:
                            </td>
                            <td>
                                <input class="easyui-datebox" name="bl_date" id="bl_date" style="width: 140px" required="true" editable="false" value="@(((DateTime)bl.bl_date).ToString("yyyy-MM-dd"))" />
                            </td>
                            <td>
                                系统流水号:
                            </td>
                            <td>
                                <input type="text" name="sys_no" id="sys_no" class="my_readonly" style="width:135px" readonly="readonly" value="@bl.sys_no" />
                            </td>
                            <td>
                                备料编号:
                            </td>
                            <td>
                                <input type="text" name="bill_no" id="bill_no" class="my_readonly" style="width:135px;" readonly="readonly" value="@bl.bill_no" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                办事处:
                            </td>
                            <td>
                                <input class="easyui-combobox" id="agency_name" name="agency_name" style="width: 140px" panelwidth="140" valuefield="name" textfield="name" url="@Url.Content("~/Items/getItems?what=agency")" required="true" value="@bl.agency_name" />
                            </td>
                            <td>
                                备料类型:
                            </td>
                            <td>
                                @if (bl.bl_type == null || bl.bl_type == "") {
                                    <span>
                                        <input type="radio" name="bl_type" value="市场预测" /> 市场预测
                                        <input type="radio" name="bl_type" value="有合同协议" /> 有合同协议 &nbsp;
                                    </span>
                                }
                                else if (bl.bl_type == "有合同协议") {
                                    <span>
                                        <input type="radio" name="bl_type" value="市场预测" /> 市场预测
                                        <input type="radio" name="bl_type" value="有合同协议" checked /> 有合同协议 &nbsp;
                                    </span>
                                }
                                else {
                                    <span>
                                        <input type="radio" name="bl_type" value="市场预测" checked /> 市场预测
                                        <input type="radio" name="bl_type" value="有合同协议" /> 有合同协议 &nbsp;
                                    </span>
                                }
                            </td>
                            <td>
                                协议号:
                            </td>
                            <td>
                                <input class="easyui-validatebox" name="bl_contract_no" id="bl_contract_no" style="width:135px" value="@bl.bl_contract_no" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                计划下订单日期:
                            </td>
                            <td>
                                <input class="easyui-datebox" name="plan_order_date" style="width: 140px" required="true" editable="false" value="@(bl.plan_order_date==null?"":((DateTime)bl.plan_order_date).ToString("yyyy-MM-dd"))" />
                            </td>
                            <td>
                                订单数量:
                            </td>
                            <td>
                                <input id="qty" class="easyui-numberbox" name="qty" groupSeparator="," style="width: 135px" required="true" value="@bl.qty" />
                            </td>
                            <td>
                                计划交货期:
                            </td>
                            <td>
                                <input class="easyui-datebox" name="fetch_date" style="width: 140px" required="true" editable="false" value="@(bl.fetch_date == null ? "" : ((DateTime)bl.fetch_date).ToString("yyyy-MM-dd"))" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                客户代码:
                            </td>
                            <td>
                                <input id="customer_no" class="customerbox" required="true" name="customer_no" style="width: 140px" panelwidth="240px" />
                            </td>
                            <td>
                                客户名称:
                            </td>
                            <td>
                                <input type="text" name="customer_name" id="customer_name" class="my_readonly" style="width:135px;" readonly="readonly" value="@bl.customer_name" />
                            </td>
                            <td>
                                贸易类型:
                            </td>
                            <td>
                                <input class="easyui-combobox" id="trade_type_no" name="trade_type_no" style="width: 140px" editable="false"
                                       panelheight="100" valuefield="no" textfield="name" url="@Url.Content("~/Items/getItems?what=trade_type")" required="true" value="@bl.trade_type_no" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                产品代码:
                            </td>
                            <td>
                                <input id="product_no" name="product_no" required="true" style="width: 140px" />
                            </td>
                            <td>
                                产品名称:
                            </td>
                            <td>
                                <input type="text" name="product_name" id="product_name" class="my_readonly" style="width:135px" readonly="readonly" value="@bl.product_name" />
                            </td>
                            <td>
                                产品型号:
                            </td>
                            <td>
                                <input type="text" name="product_model" id="product_model" class="my_readonly" style="width:135px" readonly="readonly" value="@bl.product_model" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                产品用途:
                            </td>
                            <td>
                                <input class="easyui-validatebox" required="true" name="product_use" id="product_use" style="width:135px" value="@bl.product_use" />
                            </td>
                            <td>
                                产品类别:
                            </td>
                            <td>
                                @*<input class="easyui-validatebox" required="true" name="product_type" id="product_type" style="width:135px" value="@bl.product_type" />*@
                                <input class="easyui-combobox" id="product_type" name="product_type" style="width: 140px"
                                   data-options="textField:'name',valueField:'name', required:true,editable:false,"
                                   url="@Url.Content("~/Items/getItems?what=product_type")" value="@bl.product_type"
                                    />
                            </td>
                            <td>
                                成交价(不含税):
                            </td>
                            <td>
                                <input id="deal_price" class="easyui-numberbox" name="deal_price" style="width: 135px" precision="2" required="true" value="@bl.deal_price" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                事业部:
                            </td>
                            <td>
                                <input class="easyui-combobox" style="width: 140px" name="bus_dep" id="bus_dep"
                                       data-options="textField:'name',valueField:'name',panelHeight:'auto', required:true,editable:false,url:'@Url.Content("~/items/getrelatedeps?dep_type=备料事业部")'" />
                            </td>
                            <td>
                                对应项目组:
                            </td>
                            <td>
                                <input class="easyui-combobox" id="project_group" name="project_group" url='@Url.Content("~/Items/getItems?what=project_group")' valuefield="name" textfield="name" style="width: 140px" required="true" value="@bl.project_group" />
                            </td>
                            <td>
                                市场部:
                            </td>
                            <td>
                                <input class="easyui-combobox" style="width: 140px" name="market_dep" id="market_dep"
                                       data-options="textField:'value',valueField:'value',panelHeight:'auto', required:true,editable:false,
                                           data:[
                                           {value:'中国市场部一部'},{value:'中国市场部二部'},{value:'中国市场部三部'},{value:'中国市场部四部'},{value:'中国市场部五部'},{value:'中国市场部六部'},
                                           {value:'中国市场部七部'},{value:'中国市场部八部'},{value:'中国市场部九部'},{value:'中国市场部十部'},{value:'中国市场部十一部'},{value:'中国市场部十二部'},
                                           {value:'新加坡市场部'},{value:'光能办'},{value:'杭州办'},{value:'华诚创'}
                                           ]" value="@bl.market_dep" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                营业员:
                            </td>
                            <td>
                                <input id="clerk_no" class="remotebox" name="clerk_no" style="width: 140px" required="true" />
                            </td>
                            @*<td>
                                计划员:
                            </td>
                            <td>
                                <input class="easyui-combobox" id="planner_id" name="planner_id" style="width: 140px" panelwidth="140" valuefield="auditorId" textfield="auditorName" editable="false" required="true" />
                            </td>*@
                            <td>
                                制单人:
                            </td>
                            <td>
                                <input class="easyui-validatebox" name="create_user" id="create_user" readonly="readonly" style="width:135px" value="@bl.User.real_name" />
                            </td>
                        </tr>
                        @if (stepName.Contains("订料") || stepName.Contains("计划审")) { 
                        <tr>
                            <td>订料员:</td>
                            <td colspan="5">
                                <input class="easyui-combobox" id="order_ids" name="order_ids" style="width:380px" data-options="textField:'auditorName',valueField:'auditorId',panelHeight:'auto', required:true,editable:false,multiple:true" />
                            </td>
                        </tr>
                        }
                        <tr>
                            @*<td>
                                备料项目:
                            </td>*@
                            <td colspan="6">
                                <fieldset>
                                    <legend>备料项目</legend>
                                    <div>
                                        <input type="checkbox" name="bl_project" value="全套物料" /><span class="ck_label"> 全套物料</span> &nbsp;
                                        <input type="checkbox" name="bl_project" value="成品" /><span class="ck_label"> 成品</span> &nbsp;
                                    </div>
                                    <div>
                                        @{string[] p1 = new string[] { "IC", "背光", "玻璃", "TP", "Lens", "电容", "电阻", "二极管", "马达", "镜头", "FPC", "偏光片" };}
                                        @foreach (var p in p1) {
                                            <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                        }
                                    </div>
                                    <div>
                                        @{string[] p2 = new string[] { "连接器", "菲林", "大片玻璃基材", "基板", "芯片", "防反射膜", "前盖", "光学膜已切","ACF" };}
                                        @foreach (var p in p2) {
                                            <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                        }
                                    </div>
                                    <div>
                                        @{string[] p3 = new string[] { "PCB", "LC", "TJ", "JJ", "元件", "电感", "磁珠", "晶振三极管" };}
                                        @foreach (var p in p3) {
                                            <input type="checkbox" name="bl_project" value="@p" /><span class="ck_label">@p</span><span>&nbsp;</span>
                                        }
                                    </div>
                                    <div>
                                        <input type="checkbox" name="bl_project" value="其它" /><span class="ck_label"> 其它</span> &nbsp;
                                        <input class="easyui-validatebox" style="width:200px" name="bl_project_other" value="@bl.bl_project_other" />
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td>摘要:</td>
                            <td colspan="5">
                                <textarea cols="90" rows="4" spellcheck="false" name="comment" id="comment" style="margin: 0;">@bl.comment</textarea>
                            </td>
                        </tr>
                        @if (stepName.Contains("订料") || stepName.Contains("计划审")) {
                            <tr>
                                <td>计划备注:</td>
                                <td colspan="5">
                                    <textarea cols="90" rows="4" spellcheck="false" name="planner_comment" id="planner_comment" style="margin: 0;">@bl.planner_comment</textarea>
                                </td>
                            </tr>
                        }
                    </table>
                    @if (stepName.Contains("订料")) {
                        <br />
                        <div id="detail_div" class="easyui-panel" title="备料清单明细" style="+position: relative; width: 815px; height: 300px">
                            <table id="dg_detail">
                                @foreach (var det in bl.Sale_BL_details) {
                                    <tr>
                                        <td>@det.levels</td>
                                        <td>@det.fnumber</td>
                                        <td>@det.fmodel</td>
                                        <td>@det.fname</td>
                                        <td>@det.unitname</td>
                                        <td>@(det.fqty == null ? 0 : Math.Round((decimal)det.fqty, 4))</td>
                                        <td>@(det.total_qty == null ? 0 : Math.Round((decimal)det.total_qty, 4))</td>
                                        <td>@(det.order_qty == null ? 0 : Math.Round((decimal)det.order_qty, 4))</td>
                                        <td>@(det.highest_price == null ? 0 : Math.Round((decimal)det.highest_price, 4))</td>
                                        <td>@det.comment</td>
                                        <td>@det.source</td>
                                        <td>@det.order_name</td>
                                        <td>@det.order_id</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    <br />
                    @if (0 == bl.step_version) {
                        <br />
                        @*上传文件的*@
                        <input type="hidden" value="@bl.sys_no" id="wu_sysNum" />
                        @Html.Partial("_UploadFilePartial_wu")
                    }
                    else {
                        @*有修改权限的审核人只有计划和订料，但是2018年开始限制他们不能查看备料单的附件*@
                        if (stepName.Contains("市场")) { 
                        <div id="downloadPanel">
                            <div class="easyui-panel" style="background: #fafafa; padding: 10px; width: 800px;"
                                 title="@Html.Lang("download_file")" href="@Url.Content("~/Items/downLoadFile?sys_no=" + bl.sys_no)">
                            </div>
                        </div>
                    }
                    }
                </div>
                @if (0 == bl.step_version) {
                    <div align="center">
                        <a id="saveAllBut" href="#" class="easyui-linkbutton" iconcls='icon-save' style="margin: 10px 20px;">@Html.Lang("save_form")</a>
                        <a id="submitApply" href="#" class="easyui-linkbutton" iconcls='icon-document' style="margin: 10px 20px;">@Html.Lang("submit_apply")</a>
                    </div>
                }

                <div style="line-height:18px;margin-top:8px;">
                    <div style="color:red">操作说明：</div>
                    <div>
                        <1>
                            . 计划员能且仅能选择【订料员】，订料员可以选择多个，选择的订料员作为下一审批步骤进行会签。<br />
                            <2>
                                . 订料员必须录入【备料清单明细】，如果有多个订料员会签，每个订料员只能录入自己的备料明细，不能修改或删除其它订料员录入的备料明细。<br />
                                <3>
                                    . 营业员没有权限查看备料明细的【物料代码】和【物料型号】，会以*号代替。<br />
                                    <4>
                                        .【备料编号】是根据市场部提供的规则，并根据营业所选择的【市场部】字段在流程正常结束后系统生成的。<br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*弹出的BOM清单*@
<div id="win_bom" class="easyui-window" title="查看BOM" data-options="modal:true,closed:true,iconCls:'icon-search'" style="width:600px;height:450px;">
    <table id="dg_bom"></table>
    <div id="toolbar_bom">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="confirmSel()">确认选择</a>
        <input class="easyui-searchbox" style="width:380px;vertical-align:middle" searcher="searchB" prompt="输入物料名称或型号搜索" />
    </div>
</div>

@*弹出的手工新增bom*@
<div id="dlg_details" class="easyui-dialog" title="物料新增对话框" style="width: 520px; padding: 10px 10px" closed="true" buttons="#dlg_details_buttons" modal="true">
    <div class="ftitle">
        新增物料清单
    </div>
    <form id="fm_detail">
        <table border="0" cellpadding="2" cellspacing="3" width="450">
            <tr>
                <td>
                    物料编码:
                </td>
                <td>
                    <input id="mat_no" name="mat_no" required="true" style="width: 140px" />
                </td>
                <td>
                    物料型号:
                </td>
                <td>
                    <input type="text" name="mat_model" id="mat_model" class="my_readonly" style="width:135px;" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td colspan="4"><span style="font-size:10px;color:red">请在物料编码框输入物料编码、物料型号或物料名称的一部分或全部，然后按回车键搜索，最后在列表中选择一项。</span></td>
            </tr>
            <tr>
                <td>
                    物料名称:
                </td>
                <td>
                    <input type="text" name="mat_name" id="mat_name" class="my_readonly" style="width:135px;" readonly="readonly" />
                    <input type="hidden" name="mat_unit_name" id="mat_unit_name">
                </td>
                <td>
                    单位数量:
                </td>
                <td>
                    <input id="mat_qty" class="easyui-numberbox" name="mat_qty" style="width: 135px" value="1" precision="4" />
                </td>
            </tr>
            <tr>
                <td>
                    最高采购价:
                </td>
                <td>
                    <input id="mat_highest_price" class="easyui-numberbox" name="mat_highest_price" style="width: 135px" precision="4" />
                </td>
                <td>
                    备注:
                </td>
                <td>
                    <input class="easyui-validatebox" name="mat_comment" id="mat_comment" style="width:135px" />
                </td>
            </tr>
        </table>
    </form>
    <br />
</div>
<div id="dlg_details_buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveBomDetails()">
        保存
    </a> <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg_details').dialog('close')">
        取消
    </a>
</div>