@using Sale_Order_Semi.Models;
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    SampleBill sb = (SampleBill)ViewData["sb"];
    int step = (int)ViewData["step"];
    string formTitle = step == 0 ? "新建样品单" : "修改样品单";
}
<style type="text/css">
    #order_div input {
        width: 140px;
    }
</style>
<script type="text/javascript">
    $(function () {

        $("#has_video_function_model_span").hide();
        $("#has_video_function_reason_span").hide();
        $("#has_touch_panel_model_span").hide();
        $("#has_touch_panel_reason_span").hide();

        //多选框
        $('#sample_use').combobox('setValues', '@sb.sample_use' == '' ? '' : '@sb.sample_use'.split(','));

        //几个表头combobox的搜索方法
        $(".remotebox").each(function () {
            $(this).combobox({
                valueField: "number",
                textField: "name",
                required: true,
                keyHandler: {
                    query: function () { },
                    enter: function () {
                        var box_id = $(this).attr("id");
                        var url = "@Url.Content("~/Items/getClerks")";
                        var _this = "#" + box_id;
                        var q = $(_this).combobox('getText');
                        if (q != "") {
                            $.post(url, { q: q },
                            function (data) {
                                $(_this).combobox('loadData', data);
                                $(_this).combobox('setText', q);
                            },
                            "json"
                            );
                        }
                    }
                }
            });
        });

        //客户下拉框
        $(".customerbox").each(function () {
            $(this).combogrid({
                loadMsg: "Please wait...",
                idField: "number",
                textField: "name",
                required: true,
                panelWidth: 400,
                columns: [[
                        { field: 'number', title: '@Html.Lang("customer_num")', width: 150 },
					    { field: 'name', title: '@Html.Lang("customer_name")', width: 220 }
                ]],
                keyHandler: {
                    query: function () { },
                    enter: function () {
                        var box_id = $(this).attr("id");
                        var _this = "#" + box_id;
                        var q = $(_this).combogrid('getText');
                        if (q != "") {
                            $.post("@Url.Content("~/Items/getCostomers")", { q: q },
                                function (data) {
                                    $(_this).combogrid('grid').datagrid('loadData', data);
                                    $(_this).combogrid('setText', q);
                                },
                                "json"
                                );
                        }
                    }
                }

            });
        });

        $("#product_model").combogrid({
            valueField: "model",
            textField: "model",
            panelWidth: 420,
            required: true,
            columns: [[
                    { field: 'number', title: '@Html.Lang("pro_num")', width: 120 },
					{ field: 'name', title: '@Html.Lang("pro_name")', width: 120 },
					{ field: 'model', title: '@Html.Lang("pro_model")', width: 160 }
            ]],
            keyHandler: {
                query: function () { },
                enter: function () {
                    var q = $("#product_model").combogrid('getText');
                    if (q != "") {
                        $.post("@Url.Content("~/Items/getProductInfo")", { q: q },
                            function (data) {
                                $("#product_model").combogrid('grid').datagrid('loadData', data);
                                $("#product_model").combogrid('setText', q);
                            },
                            "json"
                            );
                    }
                }
            }
        });

        //产品代码从下拉列表中选中一项的处理事件
        $("#product_model").combogrid('grid').datagrid({
            onClickRow: function (rowIndex, rowData) {
                $("#product_model").combogrid('setValue', rowData.model);
                $("#product_model").combogrid('setText', rowData.model);
                $("#product_name").val(rowData.name);
                $("#product_number").val(rowData.number);
                $('#product_unit').val(rowData.unit_number);
                $("#product_model").combogrid('hidePanel');
            }
        });

        $("#currency_no").combobox({
            onSelect: function (record) {
                $.post("@Url.Content("~/Items/getExchangeRate")", { currencyId: record.id },
                    function (data) {
                        $('#exchange_rate').numberbox('setValue', data);
                    }, "json"
                );
            }
        });

        //摄像头由信利提供
        $("#has_video_function").combobox({
            onChange: function (newValue, oldValue) {
                if (newValue == "带摄像功能，摄像头由TRULY提供") {
                    $("#has_video_function_model_span").show();
                    $("#has_video_function_reason_span").hide();
                } else if (newValue == "带摄像功能，摄像头不是TRULY提供") {
                    $("#has_video_function_reason_span").show();
                    $("#has_video_function_model_span").hide();
                } else {
                    $("#has_video_function_model_span").hide();
                    $("#has_video_function_reason_span").hide();
                }
            }
        });

        //带触摸屏，触摸屏由TRULY提供
        $("#has_touch_panel").combobox({
            onChange: function (newValue, oldValue) {
                if (newValue == "带触摸屏，触摸屏由TRULY提供") {
                    $("#has_touch_panel_model_span").show();
                    $("#has_touch_panel_reason_span").hide();
                } else if (newValue == "带触摸屏，触摸屏不是TRULY提供") {
                    $("#has_touch_panel_reason_span").show();
                    $("#has_touch_panel_model_span").hide();
                } else {
                    $("#has_touch_panel_model_span").hide();
                    $("#has_touch_panel_reason_span").hide();
                }
            }
        });

        //免费样品隐藏成交价和合同价，收费显示 class="freeHiddenPrice"
        $("#is_free").combobox({
            onChange: function (newValue, oldValue) {
                if (newValue == "收费") {
                    $(".freeHiddenPrice").show();
                } else {
                    $(".freeHiddenPrice").hide();
                }
            }
        });

        $("#project_team").combogrid({
            textField: "pjGroup",
            idField: "pjGroup",
            panelWidth: 300,
            noWap: "false",
            required: 'true',
            editable: false,
            url: '@Url.Content("~/Items/GetPjGroupAndManager")',
            columns: [[
                        {
                            field: 'pjGroup', title: '@Html.Lang("project_team")', width: 180,
                            styler: function (value, row, index) {
                                return 'white-space:normal';
                            }
                        },
					    {
					        field: 'pjManager', title: '项目经理', width: 90
                            , styler: function (value, row, index) {
                                return 'white-space:normal';
                            }
					    }
            ]],
            onLoadSuccess: function () {
                var rawValue = "@Html.Raw(sb.project_team)";
                if ("" != rawValue && 0 == "@sb.step_version") {
                    var pjDatas = $("#project_team").combogrid("grid").datagrid("getData");
                    for (var i = 0; i < pjDatas.rows.length; i++) {
                        if (pjDatas.rows[i].pjGroup == rawValue) {
                            $("#project_team").combogrid("setValue", rawValue);
                            return;
                        }
                    }
                } else {
                    $("#project_team").combogrid("setValue", rawValue);
                }
            }
        });

        $("#product_classification").combogrid({
            textField: "value",
            idField: "value",
            panelWidth: 500,
            noWap: false,
            editable: false,
            required: true,
            url: '@Url.Content("~/Items/GetProjectItems?what=分类")',
            columns: [[
                        {
                            field: 'value', title: '@Html.Lang("classification")', width: 140,
                            styler: function (value, row, index) {
                                return 'white-space:normal';
                            }
                        },
					    {
					        field: 'note', title: '@Html.Lang("description")', width: 330
                            , styler: function (value, row, index) {
                                return 'white-space:normal';
                            }
					    }
            ]]
        });

        //$("#quotation_clerk_id").combobox({
        //    onLoadSuccess: function () {
        //        if ($("#quotation_clerk_id").combobox("getValue") == $("#quotation_clerk_id").combobox("getText")) {
        //            $("#quotation_clerk_id").combobox("setValue", "");
        //            $("#quotation_clerk_id").combobox("setText", "");
        //        }
        //    }
        //});


        //手动设置一下从后台过来的值
        $('#product_model').combogrid('setValue', '@sb.product_model');
        $('#clerk_no').combobox('setText', '@sb.clerk_name');
        $('#charger_no').combobox('setText', '@sb.charger_name');
        $('#customer_no').combobox('setText', '@Html.Raw(sb.customer_name)');
        $('#zz_customer_no').combobox('setText', '@Html.Raw(sb.zz_customer_name)');
        $('#plan_firm_no').combobox('setText', '@Html.Raw(sb.plan_firm_name)');
        $('#sea_customer_no').combobox('setText', '@Html.Raw(sb.sea_customer_name)');

        $("#is_free").combobox("setValue", "@sb.is_free");
        $("#has_video_function").combobox("setValue", "@sb.has_video_function");
        $("#has_touch_panel").combobox("setValue", "@sb.has_touch_panel");
    });
</script>
@if (step == 0)
{ 
    <script type="text/javascript">
    $(function () {

        //保存订单
        $('#saveAllBut').bind('click', function () {

            ///2018-3-20加入的一些规则
            var deliveryPlace = $("#fetch_add_no").combobox("getText");
            if ($("#currency_no").combobox("getText") == "人民币") {
                if (deliveryPlace.indexOf("国内（GN）■") < 0) {
                    alert("保存失败：币别为人民币时，交货地点必须选择国内（GN）■香港（HK）□！");
                    return;
                }
            } else {
                if (deliveryPlace.indexOf("香港（HK）■") < 0) {
                    alert("保存失败：币别为非人民币时，交货地点必须选择国内（GN）□香港（HK）■！");
                    return;
                }
            }

            $.messager.progress();
            $('#order_form').form('submit', {
                url: '@Url.Content("~/Saler/SalerSaveSampleBill")',
                onSubmit: function (param) {
                    if (!$('#order_form').form('validate')) {
                        return false;
                    }
                    //如果规格型号的text和value不一致，则提示
                    if ($("#product_model").combogrid('getText') != $("#product_model").combogrid('getValue')) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "规格型号请搜索回车后从列表中选择"
                        });
                        return false;
                    }

                    //国内贸易的必须填写合同编号，且格式是年月流水号，比如201801001
                    if ($("#trade_type_no").combobox("getValue") == "03") {
                        var pat = /\d{9}/;
                        if (!pat.test($("#contract_po_no").val())) {
                            $.messager.show({
                                title: '@Html.Lang("tip")',
                                msg: "保存失败：国内贸易的【合同编号P/O】字段必须符合以下格式：年+月+流水号，例如201802001"
                            });
                            return false;
                        }
                    }

                    //保存客户名称
                    param.zz_customer_name = $('#zz_customer_no').combobox('getText');
                    param.plan_firm_name = $('#plan_firm_no').combobox('getText');
                    param.sea_customer_name = $('#sea_customer_no').combobox('getText');
                    return true;
                },
                success: function (data) {
                    var result = eval('(' + data + ')');
                    if (result.suc) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("suc_save")"
                        });
                    } else {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("failure_save"):" + result.msg
                        });
                    }
                }
            });
            $.messager.progress("close");
        });

        //提交申请按钮
        $("#submitApply").click(function () {
            //首先检测订单是否已保存
            $("#submitApply").linkbutton('disable');
            $('#saveAllBut').linkbutton('disable');
            $.post("@Url.Content("~/Saler/CheckIsBillExist")", { sysNum: $("#sys_no").val() },
            function (data) {
                if (data.success) {
                    //判断合同编号是否已存在
                    $.post("@Url.Content("~/Saler/IsContractNoExists")",
                        { contractNo: $("#contract_po_no").val(), sysNum: $("#sys_no").val(), billType: "SB" }, function (data) {
                            if (data.suc) {
                                beginApply();
                            } else {
                                $.messager.confirm('@Html.Lang("confirm")', data.msg, function (r) {
                                    if (r) {
                                        beginApply();
                                    }
                                });
                            }
                        });
                } else {
                    $("#submitApply").linkbutton('enable');
                    $('#saveAllBut').linkbutton('enable');
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: data.msg
                    });
                }
            }, "json");
        });
    });

    function beginApply() {
        $.messager.show({
            title: '@Html.Lang("tip")',
            msg: "正在提交，请等待跳转。。。"
        });
        setTimeout('window.location.href="@Url.Content("~/Saler/BeginApplySB?sys_no=")"+$("#sys_no").val();', 2000);
    }

    </script>
}
@if (step > 0)
{ 
    <script type="text/javascript">
        function okClick(){        
            $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_pass")?', function(r){
	            if (r){
	                //判断合同编号是否已存在
                    $.post("@Url.Content("~/Saler/IsContractNoExists")",
                        { contractNo: $("#contract_po_no").val(), sysNum: $("#sys_no").val(), billType: "SB" }, function (data) {
                            if (data.suc) {
                                saveForm();
                                $.messager.progress();
                            } else {
                                $.messager.confirm('@Html.Lang("confirm")', data.msg, function (r2) {
                                    if (r2) {
                                        console.log("a");
                                        saveForm();
                                        $.messager.progress();
                                        console.log("b");
                                    }
                                });
                            }
                        });
	            }
            });
        }
    function noClick(){
        $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_reject")?', function(r){
	        if (r){
                $('#okFlag').val('false');
                beginAudit();
            }
        });
    }
   
        function saveForm() {
            console.log("c");
            $('#order_form').form('submit',{
                url: '@Url.Content("~/Audit/AuditorSaveSampleBill")',
                onSubmit: function(param){ 
                    //如果规格型号的text和value不一致，则提示
                    if($("#product_model").combogrid('getText') != $("#product_model").combogrid('getValue')){
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "规格型号请搜索回车后从列表中选择"
                        });
                        return false;
                    }
                    param.step="@step";
                    param.zz_customer_name=$('#zz_customer_no').combobox('getText');
                    param.plan_firm_name=$('#plan_firm_no').combobox('getText');
                    param.sea_customer_name = $('#sea_customer_no').combobox('getText');
                    return true;
                },
                success: function (data) {
                    console.log(data);
                    var result = eval('('+ data +')');
                    if(result.suc){
                        $('#okFlag').val('true');
                        beginAudit();
                    }else{
                        $.messager.progress("close");
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "@Html.Lang("failure_save"):"+result.msg
                        });
                }                        
            }
            }); 
        }

        function beginAudit(){        
            $("#audit_fm").form("submit",{
                url:"@Url.Content("~/Audit/HandleAgencyAudit")",
                success:function(data){
                    $.messager.progress('close');
                    var result=eval("("+data+")"); 
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: result.msg + ",正在跳转..."
                    });
                    setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",1500);
                    //getAuditResult();
                }
            });
        }

        function block(){
            var reason=$("#agency_comment").val();
            if($.trim(reason)==""){
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: "挂起操作必须写明原因，提交失败"
                });   
            }else{
                $.messager.confirm('@Html.Lang("confirm")', '确定要将订单挂起吗?', function(r){
                    if (r){
                        $.messager.progress();
                        $("#audit_fm").form("submit",{
                            url:"@Url.Content("~/Audit/BlockOrder")",
                            success:function(data){
                                $.messager.progress('close');
                                var result=eval("("+data+")"); 
                                if(result.success){
                                    $.messager.show({
                                        title: '@Html.Lang("tip")',
                                        msg: result.msg + ",正在跳转..."
                                    });
                                    setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",1500);
                                }else{
                                    $.messager.show({
                                        title: '@Html.Lang("tip")',
                                        msg: result.msg
                                    });
                                    setTimeout("window.location.href='@Url.Content("~/Audit/CheckAuditList")';",3000);
                                }
                            }
                        });
                    }
                });  
            }
        }
    </script>
}


<div class="easyui-layout" data-options="fit:true" id="agency_div">
@if (step > 0)
{
@*挂起信息*@
@Html.Partial("_BlockInfoPartial")
<div data-options="region:'south',collapsed:false" style="height: 50px; background: #fafafa; padding: 8px 10px;">
        <form id="audit_fm" method="post" action="">
            @Html.Lang("audit_opinion"):
            <input type="hidden" name="step" value="@ViewData["step"]" />
            <input type="hidden" name="applyId" value="@ViewData["applyId"]" />
            <input type="hidden" name="okFlag" id="okFlag" value="" />
            <input class="easyui-textbox" id="agency_comment" name="agency_comment" style="width: 500px" />&nbsp; 
            <a id="OKBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="okClick()">@Html.Lang("pass")</a>
            <a id="NOBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="noClick()">@Html.Lang("reject")</a>
            <a id="blockBt" href="#agency_div" class="easyui-linkbutton" data-options="iconCls:'icon-help'" onclick="block()">挂起</a>
        </form>
    </div>
}
<div data-options="region:'center'">
<form id="order_form" method="post">
<div id="order_div" class="easyui-panel" title="@Html.Lang("create_sample_bill")" style="width: 940px; padding: 10px; background: #fafafa;">
    <div>
        @*表头*@
        <table border="0" cellpadding="0" cellspacing="3" width="900">
            <tr>
                <td>
                    下单日期:
                </td>
                <td>
                    <input class="easyui-datebox" id="bill_date" name="bill_date" required="true"  editable="false" value="@(((DateTime)sb.bill_date).ToString("yyyy-MM-dd"))"/>
                </td>
                <td>
                    是否收费:
                </td>
                <td>
                    <input class="easyui-combobox" name="is_free" id="is_free" data-options="textField:'value',valueField:'value',panelHeight:'auto', required:true,editable:false,
                                           data:[
                                           {value:'收费'},{value:'免费'}
                                           ]" />
                </td>
                <td>
                    对应项目组:
                </td>
                <td>
                    <input id="project_team" name="project_team" />
                </td>
                <td>
                    系统流水号:
                </td>
                <td>
                    <input class="easyui-textbox" name="sys_no" id="sys_no" readonly="readonly" value="@sb.sys_no"/>
                </td>
            </tr>
            <tr>
                <td>
                    结算方式:
                </td>
                <td>
                    <input class="easyui-combobox" id="clear_way" name="clear_way" url="@Url.Content("~/Items/getItems?what=clearing_way")"
                        valuefield="name" textfield="name" panelWidth="240" required="true" value="@sb.clear_way" />
                </td>
                <td>
                    贸易类型:
                </td>
                <td>
                    <input class="easyui-combobox" id="trade_type_no" name="trade_type_no" editable="false"
                    panelHeight="auto" valuefield="no" textfield="name" url="@Url.Content("~/Items/getItems?what=trade_type")" required="true" value="@sb.trade_type_no" />
                </td>
                <td>
                    交货地点:
                </td>
                <td>
                    <input class="easyui-combobox" id="fetch_add_no" name="fetch_add_no" url="@Url.Content("~/Items/getItems?what=delivery_place")" editable="false"
                        valuefield="no" textfield="name" panelheight="auto" panelwidth="200" required="true" value="@sb.fetch_add_no" />
                </td>
                <td>
                    销售方式:
                </td>
                <td>
                    <input class="easyui-combobox" id="sale_type_no" name="sale_type_no" url="@Url.Content("~/Items/getItems?what=sale_type")" panelheight="auto"  editable="false"
                    valuefield="no" textfield="name" value="@sb.sale_type_no" />
                </td>
            </tr>
            <tr>
                <td>
                    办事处:
                </td>
                <td>
                    <input class="easyui-combobox" id="agency_no" name="agency_no" 
                    panelwidth="140" valuefield="no" textfield="name" url="@Url.Content("~/Items/getItems?what=agency")" required="true" value="@sb.agency_no"/>
                </td>
                <td>
                    业务员:
                </td>
                <td>
                    <input id="clerk_no" class="remotebox" name="clerk_no" value="@sb.clerk_no" />
                </td>
                <td>
                    币别:
                </td>
                <td>
                    <input id="currency_no" class="easyui-combobox" name="currency_no" panelHeight="auto" url="@Url.Content("~/Items/getItems?what=currency")" editable="false"
                        valuefield="no" textfield="name" required="true" value="@sb.currency_no" />
                </td>
                <td>
                    汇率:
                </td>
                <td>
                    <input class="easyui-numberbox" name="exchange_rate" id="exchange_rate" precision="4" value="@sb.exchange_rate" />
                </td>
            </tr>
            <tr>
                <td>
                    产品类别:
                </td>
                <td>
                    @*<input class="easyui-combobox" id="product_type" name="product_type" style="width: 120px"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', required:true,editable:false,
                                           data:[
                                           {value:'PANEL'},{value:'OLED'},{value:'COG'},{value:'H-COG'},{value:'P-COG'},{value:'H-MDS'},
                                           {value:'MDS/S-MDS'},{value:'S-LCM/H-S-LCM'},{value:'P-LCM/P-S-LCM'},{value:'LCM'},
                                           {value:'H-LCM'},{value:'SIM'},{value:'TNM'},{value:'FIC'},{value:'测试架'}
                                           ]" value="@sb.product_type" />*@
                    <input class="easyui-combobox" id="product_type" name="product_type"
                               data-options="textField:'name',valueField:'name', required:true,editable:false,"
                               url="@Url.Content("~/Items/getItems?what=product_type")" value="@sb.product_type"
                                />
                </td>
                <td>
                    产品型号:
                </td>
                <td colspan="3">
                    <input id="product_model" name="product_model" style="width: 360px" value="@sb.product_model" />
                    <input type="hidden" name="product_number" id="product_number" value="@sb.product_number" />
                    <input type="hidden" name="product_name" id="product_name" value="@sb.product_name"/>
                    <input type="hidden" name="product_unit" id="product_unit" value="@sb.product_unit" />
                </td>
                <td>
                    要求完成日期:
                </td>
                <td>
                    <input class="easyui-datebox" name="demand_finish_date" id="demand_finish_date" editable="false"
                        required="true" value="@(sb.demand_finish_date == null ? "" : ((DateTime)sb.demand_finish_date).ToString("yyyy-MM-dd"))"/>
                </td>
            </tr>
            <tr>
                <td>
                    购货单位:
                </td>
                <td>
                    <input id="customer_no" class="customerbox" name="customer_no" 
                        panelwidth="240px" value="@sb.customer_no" />
                </td>
                <td>
                    方案公司:
                </td>
                <td>
                    <input id="plan_firm_no" class="customerbox" name="plan_firm_no"
                        panelwidth="240px" value="@sb.plan_firm_no" />
                </td>
                <td>
                    海外客户:
                </td>
                <td>
                    <input id="sea_customer_no" class="customerbox" name="sea_customer_no"
                        panelwidth="240px" value="@sb.sea_customer_no" />
                </td>
                <td>
                    终端客户:
                </td>
                <td>
                    <input id="zz_customer_no" class="customerbox" name="zz_customer_no"
                        panelwidth="240px" value="@sb.zz_customer_no" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    是否共用现有产品:
                    <input class="easyui-combobox" style="width: 96px" name="use_existed_product" id="use_existed_product"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', required:true,editable:false,
                                           data:[
                                           {value:'是'},{value:'否'}
                                           ]" value="@sb.use_existed_product" />
                </td>
                <td>
                    原开模客户:
                </td>
                <td>
                    <input class="easyui-textbox" name="original_model_customer" id="original_model_customer"  value="@sb.original_model_customer" />
                </td>
                <td>
                    图纸编号:
                </td>
                <td>
                    <input id="pic_number" class="easyui-textbox" name="pic_number" required="true" value="@sb.pic_number" />
                </td>
                <td>
                    图纸版本:
                </td>
                <td>
                    <input id="pic_version" class="easyui-textbox" name="pic_version" required="true" value="@sb.pic_version" />
                </td>
            </tr>
            <tr>
                @*<td>
                    报价员:
                </td>
                <td>
                    <input class="easyui-combobox" id="quotation_clerk_id" name="quotation_clerk_id" style="width: 120px"  editable="false"
                    valuefield="value" textfield="text" url="@Url.Content("~/Items/GetGroupMembers?group_name=报价员组")" value="@sb.quotation_clerk_id" />
                </td>*@
                <td>
                    报价编号:
                </td>
                <td>
                    <input class="easyui-textbox" name="quote_num" id="quote_num" value="@sb.quote_num" />
                </td>
                <td>
                    样品数量:
                </td>
                <td>
                    <input id="sample_qty" class="easyui-numberbox" name="sample_qty" required="true" value="@sb.sample_qty" />
                </td>
                <td>
                    样品用途:
                </td>
                <td>
                    <input class="easyui-combobox" name="sample_use" id="sample_use"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto',multiple:true,required:true,editable:false,
                                        data:[
                                        {value:'可靠性测试'},{value:'功能测试'},{value:'结构测试'}
                                        ]" value="@sb.sample_use" />
                </td> 
                <td>
                    @Html.Lang("contract_num"):
                </td>
                <td>
                    <input id="contract_po_no" class="easyui-textbox" name="contract_po_no" value="@sb.contract_po_no" />
                </td>
            </tr>
            <tr>
                <td>
                    成本:
                </td>
                <td>
                    <input id="cost" class="easyui-numberbox" name="cost" precision="2" required="true" value="@sb.cost" />
                </td>
                <td class="freeHiddenPrice">
                    成交价:
                </td>
                <td class="freeHiddenPrice">
                    <input id="deal_price" class="easyui-numberbox" name="deal_price" precision="5" value="@sb.deal_price" />
                </td>
                <td class="freeHiddenPrice">
                    合同价:
                </td>
                <td class="freeHiddenPrice">
                    <input id="contract_price" class="easyui-numberbox" name="contract_price" precision="5" value="@sb.contract_price" />
                </td> 
                <td>
                    制单人:
                </td>
                <td>
                    <input class="easyui-textbox" id="create_user" name="create_user"  value="@sb.User.real_name" readonly="readonly" />
                </td>
            </tr>
            <tr>                
                <td>
                    主管:
                </td>
                <td>
                    <input id="charger_no" class="remotebox" name="charger_no" value="@sb.charger_no" />
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    是否为特殊样品单:
                    <input class="easyui-combobox" style="width: 80px" name="is_special_sample" id="is_special_sample"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,
                                           data:[
                                           {value:'是'},{value:'否'}
                                           ]" value="@sb.is_special_sample" />
                    免费样品特别需求编号:
                    <input class="easyui-textbox" name="oa_special_request_no" id="oa_special_request_no" style="width: 150px" value="@sb.oa_special_request_no" />
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    是否超出规定数量:
                    <input class="easyui-combobox" style="width: 80px" name="is_overtop_qty" id="is_overtop_qty"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,
                                           data:[
                                           {value:'是'},{value:'否'}
                                           ]" value="@sb.is_overtop_qty" />
                    超出规定数量原因:
                    <input id="overtop_qty_reason" class="easyui-textbox" name="overtop_qty_reason"
                        style="width: 312px" value="@sb.overtop_qty_reason" />
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    第
                    <input id="how_many_time" class="easyui-numberbox" name="how_many_time" style="width: 50px" value="@sb.how_many_time" />
                    次下此客户/此型号的样品单 重复下样品单的原因:
                    <input id="repeat_sample_reason" class="easyui-textbox" name="repeat_sample_reason"
                        style="width: 300px" value="@sb.repeat_sample_reason" />
                    <br />
                    <span style="font-size: small; color: Red">(填“2”要写原因；同时，相同客户/没有改动的相同样品下单不可超过2次)</span>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    玻璃是否重投:
                    <input class="easyui-combobox" style="width: 80px" name="is_glass_remake" id="is_glass_remake"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,
                                           data:[
                                           {value:'是'},{value:'否'}
                                           ]" value="@sb.is_glass_remake"/>
                    收取重投费用:
                    <input id="glass_remake_fee" class="easyui-textbox" name="glass_remake_fee" style="width: 120px" value="@sb.glass_remake_fee" />
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    是否用于新客户机型:
                    <input class="easyui-combobox" style="width: 120px" name="for_new_project" id="for_new_project"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,required:true,
                                           data:[
                                           {value:'是'},{value:'否'}
                                           ]" value="@sb.for_new_project" />
                    (此项选择“是”、“共用现有产品”项选择“是”或是标准品时，请继续填写以下)
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <table>
                        <tr>
                            <td>
                                1. 新客户机型名称:
                            </td>
                            <td>
                                <input id="new_project_name" class="easyui-textbox" name="new_project_name" style="width: 115px" value="@sb.new_project_name" />
                            </td>
                            <td>
                                2. 新客户机型预计订单量:
                            </td>
                            <td>
                                <input id="new_project_order_qty" class="easyui-textbox" name="new_project_order_qty" style="width: 100px" value="@sb.new_project_order_qty" />
                            </td>
                            <td>
                                3. 新客户机型的订单计划:
                            </td>
                            <td>
                                <input id="new_project_order_plan" class="easyui-textbox" name="new_project_order_plan" style="width: 130px" value="@sb.new_project_order_plan" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    产品行业分类:
                    <input name="product_classification" id="product_classification" style="width: 160px" value="@sb.product_classification" />
                    具体产品用途:
                    <input id="product_use" class="easyui-textbox" name="product_use" style="width: 340px"  required="true" value="@sb.product_use" />
                </td>
            </tr>
            <tr>
                <td>
                    带摄像功能:
                </td>
                <td colspan="7">
                    <input class="easyui-combobox" style="width: 240px" name="has_video_function" id="has_video_function"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto',required:true,editable:false,
                                           data:[
                                           {value:'不带摄像功能'},{value:'带摄像功能，摄像头由TRULY提供'},{value:'带摄像功能，摄像头不是TRULY提供'}
                                           ]" />
                    <span id="has_video_function_model_span">
                        @Html.Lang("model"):<input class="easyui-textbox" name="video_model" id="video_model"
                            style="width: 300px" value="@sb.video_model" />
                    </span><span id="has_video_function_reason_span">
                        @Html.Lang("reason"):<input class="easyui-textbox" name="video_reason" id="video_reason"
                            style="width: 300px" value="@sb.video_reason" />
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    带触摸屏:
                </td>
                <td colspan="7">
                    <input class="easyui-combobox" style="width: 240px" name="has_touch_panel" id="has_touch_panel"
                        data-options="textField:'value',valueField:'value',panelHeight:'auto',required:true,editable:false,
                                           data:[
                                           {value:'不带触摸屏'},{value:'带触摸屏，触摸屏由TRULY提供'},{value:'带触摸屏，触摸屏不是TRULY提供'}
                                           ]" />
                    <span id="has_touch_panel_model_span">
                        @Html.Lang("model"):<input class="easyui-textbox" name="touch_panel_model" id="touch_panel_model"
                                style="width: 300px" value="@sb.touch_panel_model" />
                    </span><span id="has_touch_panel_reason_span">
                        @Html.Lang("reason"):<input class="easyui-textbox" name="touch_panel_reason" id="touch_panel_reason"
                                style="width: 300px" value="@sb.touch_panel_reason" />
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    备注:
                </td>
                <td colspan="7">
                    <input class="easyui-textbox" name="user_comment" id="user_comment" multiline="true" style="width:700px;height:40px" value="@sb.user_comment" />
                </td>
            </tr>
        </table>
    </div>
    @if (step == 0)
    {
        <div align="center">
            <a id="saveAllBut" href="#" class="easyui-linkbutton" iconcls='icon-save' style="margin: 10px 20px;">@Html.Lang("save_form")</a>
            <a id="submitApply" href="#" class="easyui-linkbutton" iconcls='icon-document' style="margin: 10px 20px;">@Html.Lang("submit_apply")</a>
        </div>
    }
    <div id="tip_div" class="easyui-panel" title="注意事项" style="width: 800px; padding: 10px 20px;
        background: #fafafa;">
        1. 推荐给新客户机型使用时，需填写“摄像功能”与“触摸屏”的栏。<br />
        2. 请注明此处追加的样品是跟之前送给客户的哪一次样品来做。
    </div>
</div>
</form>
</div>
</div>