<script type="text/javascript">   

    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            $("#checkBt").click();
        }
    };
    $(function () {        
        $("#AuditList").datagrid({
            fit: true,
            fitColumns: true,
//            url: "@Url.Content("~/Audit/GetAuditList")",
            rownumbers: true,
            singleSelect: true,
            loadMsg:"默认加载待审核的单据",
            onRowContextMenu:function(e, rowIndex, rowData){
                e.preventDefault();
                $("#AuditList").datagrid("selectRow",rowIndex);
                $('#mm').menu('show', {
                    left:e.pageX,
                    top:e.pageY
                }); 
            },
            columns: [[
                        { field: 'encryptNo', title: 'encryptNo', width: 10, hidden: true },
                        { field: 'applyId', title: 'ID', width: 10, hidden: true },                        
                        { field: 'orderDate', title: '@Html.Lang("order_date")', width: 120,
                        formatter: function(value,row,index){ 
                            var date = eval('new ' + eval(value).source) 
                            return date.getFullYear()+'-'+(date.getMonth() + 1)+'-'+date.getDate()+' '+date.getHours()+':'+date.getMinutes();
                        }},  
                        { field: 'finishDate', title: '@Html.Lang("end_date")', width: 120,
                        formatter: function(value,row,index){ 
                            var date = eval('new ' + eval(value).source) 
                            return date.getFullYear()+'-'+(date.getMonth() + 1)+'-'+date.getDate()+' '+date.getHours()+':'+date.getMinutes();
                        }},  
                        { field: 'orderType', title: '@Html.Lang("bill_type")', width: 120 }, 
                        { field: 'procDep', title: '@Html.Lang("proc_dep")', width: 120 },
                        { field: 'billNo', title: '@Html.Lang("bill_no")', width: 120 },           
                        { field: 'sysNum', title: '@Html.Lang("sys_num")', width: 100 },
    					{ field: 'depName', title: '@Html.Lang("agency")', width: 120 },
    					{ field: 'salerName', title: '@Html.Lang("apply_user")', width: 100 },
                        { field: 'hasAtt', title: '@Html.Lang("download_file")', width: 60 ,align: 'center',
                            formatter: function (value, row, index) {                                
                                if (value){ 
                                    //小图标
                                    return "<a target='_blank' href='@Url.Content("~/Saler/DownFile?sysNum=")" + row.sysNum + "'><img alt='icon' width='16' height='16' src='@Url.Content("~/Content/themes/icons/down.png")' /></a>";
                                }
                            }
                         }
    				]],
            toolbar: [{
                text: "@Html.Lang("check_detail")",
                iconCls: 'icon-search',
                handler: CheckDetail
            }, '-', {
                text: "@Html.Lang("check_status")",
                iconCls: 'icon-help',
                handler: CheckStatus
            }, '-', {
                text: "@Html.Lang("chk_report")",
                iconCls: 'icon-document',
                handler: CheckReport
            }, '-',
            {
                text: "@Html.Lang("export_excel")",
                iconCls: 'icon-xls',
                handler: function () {
                    var rows = $("#AuditList").datagrid("getRows");
                    if(rows.length==0){
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: "列表中无数据，请先搜索之后再导出Excel报表"
                        }); 
                    }else{
                        var ids="";
                        for(var i=0;i<rows.length;i++){
                            if(i==rows.length-1){
                                ids+=rows[i].applyId;
                            }else{
                                ids+=rows[i].applyId+",";
                            }
                        }
                        openDownloadDialog(ids);
                        //window.location.href="@Url.Content("~/Excels/exportAuditorSOExcel")"+"?ids="+ids;
                    }
                }
            }],
            onDblClickRow:CheckDetail
        });

        $("#checkBt").click(function () {
            $.messager.progress(); 
             $("#fm").form("submit", {
                url: "@Url.Content("~/Authority/GetDepBills")",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    $("#AuditList").datagrid("loadData", result);
                    $.messager.progress("close"); 
                }
            });
        });

        $("#proc_dep").combobox({url:"@Url.Content("~/Items/GetMyCheckingDep")"+"?userid=@ViewData["userid"]&orderType=SO"});
    });

    function CheckDetail(){
        var row = $("#AuditList").datagrid("getSelected");
        if (row) {
             window.open("@Url.Content("~/Saler/CheckOrderDetailByApplyId")"+"?applyId="+row.applyId);
        }
    }

    function CheckStatus(){
        //清空信息
        var trs=$("#status_table tbody tr");
        if(trs.length > 1)
        {
            var tr1=trs[0];
            $("#status_table tbody").empty();
            $("#status_table tbody").append(tr1);
        }
        var row = $("#AuditList").datagrid("getSelected");
        if (row) {
            $.post("@Url.Content("~/Audit/CheckApplyStatusSO")",{sys_no: row.sysNum},function(data){
                if(data.success){
                        $("#nextStepName").html(data.nextStepName);
                        $("#nextAuditors").html(data.nextAuditors);
                        var list=data.result;                           
                        for(var i=0;i<list.length;i++){
                            var content= '<tr><td>'+list[i].date + ' ' + list[i].time+'</td><td>'+list[i].stepName+'</td><td>'+(list[i].comment==null?' ':list[i].comment)+'</td><td>'+(list[i].pass==true?'<span style="color:green">@Html.Lang("success")</span>':'<span style="color:red">@Html.Lang("failure")</span>')+'</td><td>'+list[i].auditor+'</td></tr>';
                            $("#status_table tbody").append(content);
                        }                                
                }
            }); 
            $("#dlg_st").dialog("open");
        }
    }
    
    function CheckReport(){
        var row = $("#AuditList").datagrid("getSelected");
        if (row) {
            window.open("@Url.Content("~/Files/printReport")"+"?sysNo="+row.encryptNo);
        }
    }
</script>
<div class="easyui-layout" data-options="fit:true" id="contDiv">
    <div data-options="region:'north',collapsed:false,split:true" style="height: 55px; background: #fafafa;
        padding: 1px;">
        <form id="fm" method="post" style="padding:2px 5px;">
        <table cellpadding="0" cellspacing="0" border="0" width="740px">
            <thead>
                <tr>                    
                    <td>
                        @Html.Lang("sys_num"):
                    </td>
                    <td>
                        @Html.Lang("bill_no"):
                    </td>
                    <td>
                        @Html.Lang("apply_user"):
                    </td>
                    <td>
                        @Html.Lang("order_date"):
                    </td>
                    <td>
                        @Html.Lang("to")
                    </td>                   
                    <td>
                        @Html.Lang("proc_dep"):
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input id="sys_no" name="sys_no" style="width: 110px" value="@ViewData["sys_no"]"/>
                    </td>
                    <td>
                        <input id="bill_no" name="bill_no" style="width: 100px" value="@ViewData["bill_no"]"/>
                    </td>
                    <td>
                        <input id="saler" name="saler" style="width: 80px" value="@ViewData["saler"]"/>
                    </td>                    
                    <td>
                        <input id="fromDate" class="easyui-datebox" name="fromDate" style="width: 100px" value="@ViewData["from_date"]"/>
                    </td>
                    <td>
                        <input id="toDate" class="easyui-datebox" name="toDate" style="width: 100px" value="@ViewData["to_date"]"/>
                    </td>
                    <td>
                       <input id="proc_dep" class="easyui-combobox" name="proc_dep" style="width:100px" value="@ViewData["proc_dep"]" data-options="
		                valueField: 'value',
		                textField: 'text',
                        panelHeight: 166,
                        editable:false,
                        value:'all'" />
                    </td>                    
                    <td>
                        <a id="checkBt" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                        @Html.Lang("search")</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        </form>
    </div>
    <div data-options="region:'center'">
        <table id="AuditList" class="easyui-datagrid"></table>
        <div id="dlg_st" class="easyui-dialog" style="width: 800px; height: 330px; padding: 10px 5px;" closed="true" title="@Html.Lang("check_status")">            
            <div style="margin-left:10px;margin-top:5px;font-weight:bold">下一审核步骤名称:<span id="nextStepName" style="color:red;margin-right:20px;"></span>步骤审核人:<span id="nextAuditors" style="color:red"></span></div>
            <table id="status_table" style="width:97%; margin:16px 0 0 10px" border="0" cellspacing="0">
                <tbody>
                <tr>
                    <th style="width:15%">
                        @Html.Lang("operation_time")
                    </th>
                    <th style="width:15%">
                        @Html.Lang("operation_content")
                    </th>
                    <th style="width:45%">
                        @Html.Lang("audit_opinion")
                    </th>
                    <th style="width:10%">
                        @Html.Lang("operation_result")
                    </th>
                    <th style="width:15%">
                        @Html.Lang("operator")
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
    <div onClick="CheckDetail()" data-options="iconCls:'icon-edit'">@Html.Lang("check_detail")</div>
    <div onClick="CheckStatus()" data-options="iconCls:'icon-help'">@Html.Lang("check_status")</div>
    <div onClick="CheckReport()" data-options="iconCls:'icon-document'">@Html.Lang("chk_report")</div>
</div>

@Html.Partial("_DownloadAuditorExcelPartial")