<script type="text/javascript">

    var url;
    function newDep() {
        $('#dep_dlg').dialog('open').dialog('setTitle', '@Html.Lang("new_dep")');
        $('#fm').form('clear');
        url = 'saveDepartment';
    }
    function editDep() {
        var row = $('#dep_dg').datagrid('getSelected');
        if (row) {
            $('#dep_dlg').dialog('open').dialog('setTitle', '@Html.Lang("eidt_dep")');
            $('#fm').form('load', row);
            url = 'updateDepartment/' + row.id;
        }
    }
    function saveDep() {
        $('#fm').form('submit', {
            url: '' + url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                var result = eval('(' + data + ')');
                if (result.success) {
                    $('#dep_dlg').dialog('close');      // close the dialog
                    $('#dep_dg').datagrid('reload');    // reload the user data
                } else {
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: result.msg
                    });
                }
            }
        });
    }
    function removeDep() {
        var row = $('#dep_dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("confirm_delete")?', function (r) {
                if (r) {
                    $.post("@Url.Content("~/Authority/removeDep")", { depId: row.id }, function (data) {
                        $.messager.show({
                            title: '@Html.Lang("tip")',
                            msg: data.msg
                        });
                        if (data.suc) {
                            $('#dep_dg').datagrid('reload');
                        }
                    });
                }
            });
        }
    }
    function qq(value, name) {
        $('#dep_dg').datagrid('load', {
            value: value,
            name: name
        });
    }    

</script>

<table id="dep_dg" title="@Html.Lang("department") @Html.Lang("list")" class="easyui-datagrid" fit="true"
       url="getDepartments"
       toolbar="#toolbar"
       rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" pagesize="40">
    <thead>
        <tr>
            <th field="name" width="50" align="center">名称</th>
            <th field="dep_no" width="50" align="center">编码</th>
            <th field="dep_type" width="100" align="center">类型</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newDep()">@Html.Lang("new_dep")</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editDep()">@Html.Lang("eidt_dep")</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="removeDep()">@Html.Lang("remove_dep")</a>
    <input id="ss" class="easyui-searchbox" style="width:220px" searcher="qq" menu="#mm" prompt="@Html.Lang("please_input")" />
    <div id="mm" style="width:100px">
        <div name="name">@Html.Lang("name")</div>
    </div>
</div>

<div id="dep_dlg" class="easyui-dialog" style="width:400px;height:260px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">@Html.Lang("department") @Html.Lang("info")</div>
    <form id="fm" method="post">
        <div class="fitem">
            <label>@Html.Lang("name"):</label>
            <input name="name" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>类型:</label>
            <input name="dep_type" class="easyui-combobox" data-options="panelHeight:'auto',valueField: 'name',textField: 'name',url: '@Url.Content("~/Items/getDepsType")' " />
        </div>
    </form>
</div>

<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveDep()">@Html.Lang("save")</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dep_dlg').dialog('close')">@Html.Lang("cancel")</a>
</div>

