<script type="text/javascript">

function resetPass(){
    $.post("@Url.Content("~/Authority/BeginReset")",{userID:$("#user").combobox("getValue"),newPass:$("#new_pass").val()},
    function(data){
        if(data.suc){
            $.messager.show({
                title: '@Html.Lang("tip")',
                msg: '保存成功'
            });
        }else{
            $.messager.show({
                title: '@Html.Lang("tip")',
                msg:data.msg
            });
        }
    });
}

</script>

<div id="login" class="easyui-panel" title="密码重置" style="width:800px; height:70px;padding:5px 10px">

@Html.Lang("user"):
<input class="easyui-combobox" id="user" name="user" style="width: 120px" valuefield="id" textfield="name" url="@Url.Content("~/Items/getSysUsers")"/>
&nbsp;&nbsp;
@Html.Lang("new_password"):
<input type="text" value="000000" id="new_pass" name="new_pass" />
<a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="resetPass()">
        @Html.Lang("save")</a>
</div>