@{
    Layout = null;
}
<script type="text/javascript">
    function savePassword(){
            $('#fm_password').form('submit', {
            url: "../../saleorder/Account/ChangePassword",
            onSubmit: function () {
                if($('#newPass').val()!=$('#confirmPass').val()){
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: '@Html.Lang("pass_not_same")'
                    });
                    $('#newPass').val("");
                    $('#confirmPass').val("")
                    $('#newPass').focus();
                    return false;
                }
                return $(this).form('validate');
            },
            success: function (data) {
                var result = eval('(' + data + ')');
                if (result.success) {
                    $('#dlg_password').dialog('close');
                     $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: '@Html.Lang("suc_save")'
                    });
                } else {
                    $.messager.show({
                        title: '@Html.Lang("tip")',
                        msg: result.msg
                    });
                }
            }
        });
    }
</script>
<div id="dlg_password" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" 
        closed="true" buttons="#dlg-buttons" title="@Html.Lang("change_password")">  
    <div class="ftitle">@Html.Lang("change_password")</div>  
    <form id="fm_password" method="post">  
        <input type="hidden" id="cop_password" name="cop_password" />
        <div class="fitem">  
            <label>@Html.Lang("old_password"):</label>  
            <input type="password" name="oldPass" class="easyui-validatebox" required="true"/>  
        </div>  
        <div class="fitem">  
            <label>@Html.Lang("new_password"):</label>  
            <input type="password" name="newPass" id="newPass" class="easyui-validatebox" required="true" validtype="length[6,30]"/>  
        </div>
        <div class="fitem">  
            <label>@Html.Lang("confirm_password"):</label>  
            <input type="password" name="confirmPass" id="confirmPass" class="easyui-validatebox" required="true"/>  
        </div>
    </form>
    <div style="font-size:10px;">说明:从2013-5-27号开始实行密码复杂化，密码必须包含英文字母、数字和特殊符号。如:abc123*!</div>
</div>  
<div id="dlg-buttons">  
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="savePassword()">@Html.Lang("save")</a>  
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_password').dialog('close')">@Html.Lang("cancel")</a>  
</div>  
